[2021-09-28 17:00] Pallavi679 opened #1 "Add a Preloader"
Link for preloader: [https://icons8.com/cssload/en/spinners/2](https://icons8.com/cssload/en/spinners/2)

[2021-09-28 17:01] Pallavi679 opened #2 "Header with social media icons"
Should not be sticky

[2021-09-28 17:02] Pallavi679 opened #3 "Add Particle.js in the background"

[2021-09-28 17:03] Pallavi679 opened #4 "Add tawk.to"
It is a free chatbot. Link [Tawk.to](https://www.tawk.to/)

[2021-09-28 17:05] Pallavi679 opened #5 "Our Team section"
Display all Core team members and add their Social media. Display should be sliding type

[2021-09-28 17:06] Pallavi679 opened #6 "Add About CodeIN Community"
Add goals , aim, showcase of our work and social media links to join our community

[2021-09-28 17:07] Pallavi679 opened #7 "Add Event"
Display all events till now.

[2021-09-28 17:10] Pallavi679 opened #8 "Add Footer"
Add all social media handles and Aims ,vision, ways to connect our community

[2021-09-29 00:24] ChoudharyTara commented on #5
I would like to work on this issue.

[2021-09-29 05:55] mohittk commented on #3
I can do this task, can you assign it to me? @SauravMukherjee44

[2021-09-30 13:45] TechSpiritSS commented on #6
I can do this

[2021-09-30 13:48] aakritiarun002 commented on #8
Aakriti

[2021-09-30 13:53] saitarun2002 commented on #2
I can Try this.

[2021-09-30 13:53] niteshagnihotri commented on #1
I can work on it

[2021-09-30 13:54] niteshagnihotri commented on #7
I can work on it

[2021-09-30 14:01] sujana-kamasany commented on #3
I would like to work on this!

[2021-09-30 14:31] mohittk commented on #3
On what basis issues are assigned?
@SauravMukherjee44

[2021-09-30 15:44] SauravMukherjee44 commented on #3
@mohittk This is a team project of our community. I have assigned the issue to team members only. Once we release our first build then anyone can contribute to it.

[2021-09-30 16:04] mohittk commented on #3
That's totally fine! I did'nt knew that fact, that's why asked the issue. Anyways, Goodluck guys!

[2021-10-01 10:07] prakhar3062 opened #15 "Add icon in navbar"

[2021-10-02 05:10] NerdyVisky opened #18 "Add spacing between icons and text & to add missing icon"
## The Issue
Icons and Text lack space between them and event icon is missing
![issue-ss](https://docs.google.com/uc?id=1NjUbdBPKfauNZK2Fd-4LAv55hgns0f9e)

## The Fix
Will add spacing between icons and text and add the missing icon

#### Please assign me this issue to fix this bug

[2021-10-02 14:26] yashfalke77 commented on #15
sir I would like to do this , can provide the issue with description

[2021-10-02 14:27] #15 closed

[2021-10-02 15:03] #18 closed

[2021-10-02 15:34] yashfalke77 commented on #8
can I do this sir

[2021-10-02 16:01] yadavashishdhirendra commented on #5
Hey, @SauravMukherjee44 I would like to contribute in this project can you please assign it to me!

[2021-10-03 09:34] HetviSoni commented on #8
I would like to work on this issue. Could you please assign me this.

[2021-10-03 09:38] HetviSoni opened #21 "Add Contact-us page"

[2021-10-03 11:59] praveenscience opened #22 "Make the banner style responsive on Mobile."
The banner gets hit. I am working on it right now. 😁

Finished, check out #23.

[2021-10-03 12:23] #22 closed

[2021-10-03 12:30] praveenscience opened #24 "Fix the navigation responsiveness."
The navigation bar isn't responsive. This needs to be fixed.

[2021-10-03 12:34] Amritanshu02 commented on #21
Hello, I would like to work upon this issue, please assign it to me

[2021-10-03 13:51] I-ArchanaDash commented on #21
@SauravMukherjee44 I would like to work on this issue.

[2021-10-03 14:23] shivasaiutkar commented on #24
I would like to work on this. Please assign me this issue.

[2021-10-04 02:22] Op-panda commented on #24
/assign

[2021-10-04 05:15] #21 closed

[2021-10-04 16:40] Utsaviranjan commented on #24
i pertain all the skills required for successful completion of this project, hence assign.

[2021-10-05 13:29] vikasbhalla05 opened #27 "Contact page styling"
I've reviewed the code
and the contacts page is not looking much good 👇
![image](https://user-images.githubusercontent.com/77003706/136032324-a0a781a0-f349-4ab5-8cbd-556c5373eb1c.png)

Assign me this issue so I can give it a good styling under Hacktoberfest

[2021-10-06 02:33] Khushipm commented on #8
Should the aims and vision be same as that given on the readme file?

[2021-10-07 12:18] adithyahere01 opened #28 "Shall I add contact page with same theme?"

[2021-10-07 14:32] niteshagnihotri commented on #1
Preloader Added

[2021-10-07 21:36] #1 closed, assigned to niteshagnihotri

[2021-10-08 02:45] #28 closed

[2021-10-08 18:01] #27 closed

[2021-10-09 03:47] Aakash-Raj-2001 commented on #2
@SauravMukherjee44 I can complete this issue within 1 day .Can I work on this issue :) ?

[2021-10-10 22:13] Lana-Lannister commented on #2
Hey! If I can help, I would like to contribute to this issue too ;) Can you assign me as well? @SauravMukherjee44 @Pallavi679

[2021-10-11 06:26] jigar-sable opened #37 "Contact Form Feature"
Submit contact form via [EmailJS](https://www.emailjs.com) and mail it on admin's email as it's not possible to deploy PHP on GH Pages.

[2021-10-11 12:51] Ritika1800 commented on #2
Can you please assign this issue in issue to me?

[2021-10-12 07:04] aayushibansal2001 opened #41 "Enhancement in Events page"
@SauravMukherjee44 The Events page of the website does not contain the header to navigate to other pages. I want to work on this issue under Hacktoberfest and add the header to the Events page.

![image](https://user-images.githubusercontent.com/51708118/136905179-0dd18d3f-4e33-4617-911c-1ee17c21bac4.png)

[2021-10-13 20:01] the-eduek opened #45 "Enhancement on Homepage"
The header on does not stick to the top properly because the logo image overflows it.
Hero image is not responsive and blocks out content.
Mobile menu is not visible,

I would love to work in this.

[2021-10-15 06:13] PrathamGwari opened #46 "Main Page not responsive"
The main page is **not responsive**. Below are some screenshots.

![image](https://user-images.githubusercontent.com/75363815/137438476-a7b2b94e-d0f3-43a7-8ef7-ee387f836059.png)

![image](https://user-images.githubusercontent.com/75363815/137438512-b7276965-8ab2-4537-83ba-8b6e2709b2ae.png)

I would like to recreate this page with **HTML**, **CSS** and **Bootstrap** and make it responsive. Please a

[2021-10-16 12:07] SahityaRoy opened #48 "add a blog page in your repo"

[2021-10-16 12:11] SahityaRoy commented on #48
![16 10 2021_17 40 54_REC](https://user-images.githubusercontent.com/72821604/137586770-e00677d0-cbb7-4ab2-aa91-b2d6427f9d49.png)

[2021-10-16 14:36] #45 closed

[2021-10-17 20:45] SauravMukherjee44 commented on #2
@Ritika1800 There is some issue from your side!

[2021-10-18 13:20] PrathamGwari opened #53 "BUGS in Contact Us page"
**Contact us** page has a lot of bugs which need to be fixed
### 1. Page is not responsive
![image](https://user-images.githubusercontent.com/75363815/137737254-7e078bcd-02bf-4aa3-89ac-84c01856fee9.png)
![image](https://user-images.githubusercontent.com/75363815/137736927-b967adf3-3ec4-403e-ba7c-f3b2019c59ee.png)

### 2. Hamburger button in navbar not working
![image](https://user-images.githubuse

[2021-10-18 14:58] #46 closed, assigned to PrathamGwari

[2021-10-25 03:20] #53 closed, assigned to nobody

[2021-10-25 09:40] PrathamGwari opened #60 "Empty About Page"
Hi @SauravMukherjee44 , I noticed that the **About.html page is empty**. I would like to create that page. **Please provide content for the About page**.

[2021-11-06 13:39] tier3guy opened #63 "Blank top head"
The top head of the website (navbar is blank), may be caused due to unnecessary padding. Needs to be fixed.
Assign me this I would like to fix this issue.

[2021-11-06 13:40] tier3guy opened #64 "Z-index of sideBar links"
The links icons are hiding behind the SVG in the about section.

[2021-11-14 02:39] oneamanish commented on #37
see my pull req.

[2022-01-16 19:08] SauravMukherjee44 opened #76 "Make the Social Icons Responsive at the Footer"

[2022-01-18 17:17] SauravMukherjee44 opened #77 "Make the Events Section Responsive for Mobile Phones📲"
![Uploading image.png…]()

[2022-01-18 17:18] #2 closed

[2022-01-18 17:18] #3 closed

[2022-01-18 17:18] #5 closed

[2022-01-19 18:50] #6 closed

[2022-01-19 18:50] #37 closed

[2022-01-28 13:37] SauravMukherjee44 opened #78 "Add content to the read more section!"

[2022-01-28 13:38] AnishaRoy77 commented on #78
ok

[2022-01-28 13:48] priyanshu688 opened #79 "Modifying the "Our Services" section"
Adding and modifying the content of our services section.

[2022-01-28 13:49] RiyaSaini1108 opened #80 "Opportunities page"

[2022-01-28 13:49] ChoudharyTara commented on #76
I would like to work on this issue can you assigned this to me @SauravMukherjee44

[2022-01-28 13:50] RiyaSaini1108 commented on #80
I want to work on this issue.

[2022-01-28 13:51] priyanshu688 commented on #79
Assign.

[2022-01-28 14:18] SauravMukherjee44 commented on #77
@AnishaRoy77 Work on this issue!

[2022-01-30 09:34] #76 closed

[2022-01-30 15:50] priyanshu688 commented on #79
https://github.com/SauravMukherjee44/CodeIN-Community-Website/pull/85

[2022-02-02 10:26] Gauravdarkslayer opened #88 "Benefit section"
Benefit section still contains lorem ipsum dummy text.

[2022-02-02 18:54] shambashib20 commented on #88
I want to work on this issue!
what text will I have to add? Is there any boilerplate template available from your side?

[2022-02-04 20:52] #7 closed

[2022-02-04 20:53] #8 closed

[2022-02-04 20:53] #24 closed

[2022-02-04 20:53] #63 closed

[2022-02-04 20:53] #79 closed

[2022-02-04 20:54] #77 closed

[2022-02-04 20:54] #64 closed

[2022-02-04 20:54] #60 closed

[2022-02-04 20:56] SauravMukherjee44 opened #91 "Create a Blogs page and link it to the Home Page."
Use the CodeIN community's header and footer.

[2022-02-08 06:18] Sohamkayal4103 commented on #91
Can I work on this?

[2022-02-08 06:40] #80 closed

[2022-02-08 06:42] #78 closed

[2022-02-08 06:43] #48 closed

[2022-02-08 06:45] SauravMukherjee44 opened #95 "Create a Opportunity Page and add opportunities posted in our Discord Server"
Discord link: https://discord.com/invite/sqFRzrj7f3

[2022-02-08 06:47] SauravMukherjee44 opened #96 "Add Buttons to Skip next or previous in Team Section."
![image](https://user-images.githubusercontent.com/72380920/152933131-65147799-c2d9-45e0-8d13-bc10e0b32e8f.png)

Slider Should work.

[2022-02-08 06:51] SauravMukherjee44 opened #97 "Design Graphics and Content for the Website"

[2022-02-08 06:53] SauravMukherjee44 opened #98 "Add Testimonials or Feedback Section in the Home page"

[2022-02-08 18:35] ding-09 opened #100 "Fainted dotted outline when hovering over buttons"
![Screen Shot 2022-02-08 at 10 05 33 AM](https://user-images.githubusercontent.com/35241829/153052170-a3182dd5-4613-4e0c-a19a-96f70172aafd.png)

Hi. Is this round dotted outline behind the button on hover an intended effect?

[2022-02-09 19:44] #100 closed

[2022-02-09 19:57] Anirban-1490 opened #102 "Responsiveness issue for the Events cards"
cards only goes get responsive for certain view breakpoints

![Capture](https://user-images.githubusercontent.com/82874704/153280149-d7630967-4033-4f1a-9ac2-50547b97ec5d.JPG)

[2022-02-10 01:19] starborne-nova commented on #102
In order for all the images to be responsive, they all need to be the same dimensions and be the correct dimensions to fill the containers at the largest breakpoint.

Also, is there a reason you are using bootstrap but not using any of bootstrap's responsive containers? I've noticed the event section is all custom containers when it could just be a single bootstrap row.

Attached is an image of al

[2022-02-10 06:52] Anirban-1490 commented on #102
i have removed some containers on my local repo . mostly things are fixed

[2022-02-10 10:58] jaison080 commented on #95
Can you assign me this issue

[2022-02-10 12:51] SauravMukherjee44 commented on #95
@jaison080 Go for it!

[2022-02-10 12:52] #102 closed

[2022-02-12 14:09] abhinav2712 commented on #98
Assign me with this issue please, i would like to work on this one

[2022-02-12 18:51] AMMAR-62 commented on #96
Can I take up this issue?

[2022-02-13 22:58] abhinav2712 commented on #98
@SauravMukherjee44  I sent the PR for this task, do let me know what you think about the feedback container I made
thanks!

[2022-02-20 19:52] Naresh-chandanbatve commented on #91
check out I have added blog page

suggest changes.

my PR : https://github.com/SauravMukherjee44/CodeIN-Community-Website/pull/105

[2022-02-27 07:26] uhini0201 commented on #96
I would like to work on this issue

[2022-02-27 07:27] uhini0201 commented on #41
Is the issue still open?? Can you assign me this issue??

[2022-02-27 12:40] Mohit-1909 opened #107 "Event button below Join Us does not lead to events section."
In footer section the event button below Join us does not take us to events section.

[2022-02-27 12:47] Mohit-1909 commented on #107
I fixed this bug please review and give me some suggestions.
PR #108

[2022-02-27 19:20] Kanika1309 commented on #91
Hi...I am GSSoC'22 participant if this issue is still open please assign it to me.

[2022-02-27 19:22] Kanika1309 commented on #41
Hi...I am GSSoC'22 participant if this issue is still open please assign it to me.

[2022-02-28 05:10] SiddhantPawar03 commented on #88
Hi I'm GSSOC'22 Contributor, if the issue is still pending would be glad if you assign it to me.

[2022-02-28 05:20] ank1traj opened #109 "Team Section"
On hovering on the member, slide should be stopped.

[2022-02-28 14:02] #41 closed

[2022-02-28 14:04] #107 closed

[2022-02-28 15:49] Navi68 commented on #109
I want to work on this issue, can you assign me?

[2022-02-28 16:52] Girlwithasmile commented on #97
I am a contributer at gssoc'22 and would like to work on this. I hv good frontend skills so I hope u assign the issue to me.

[2022-02-28 17:48] Anish1411 commented on #98
hey @SauravMukherjee44 , i want to work on this if others are not able to do.

[2022-02-28 18:01] aaryahjolia commented on #95
Hii! I'm a GSSoC'22 Contributor. Can I work on this ?

[2022-02-28 19:08] Mohit-1909 commented on #91
Hey I want to work on this under GSSOC

[2022-02-28 19:17] Mohit-1909 commented on #109
I would like to work on this issue under GSSOC, can you please assign this to me?

[2022-02-28 19:22] tanya-gupta25 commented on #98
I want to work on this issue under GSSOC

[2022-02-28 19:24] abhinav2712 commented on #98
I already did it and sent the PR

[2022-03-01 01:16] Navi68 opened #110 "Add dark mode theme"

[2022-03-01 02:26] pranavsuriya-sr opened #111 "Navigate to top button"
Adding a scroll to top button will help users to easily navigate to the top/main website easily.

[2022-03-01 02:27] pranavsuriya-sr commented on #111
I want to work on this issue under gssoc'22.

[2022-03-01 03:13] abh139 commented on #110
I want to work on this pls assign it to me
I am a Gssoc22 participant

[2022-03-01 04:57] varisha-025 commented on #96
Can I take this issue under GSSOC @SauravMukherjee44 , if no one is working on it

[2022-03-01 05:02] Mohit-1909 commented on #110
Hello can you assign this issue to me under gssoc

[2022-03-01 06:06] devgirlcodes opened #112 "Sidebar UI improvement"
**Problem**
The sidebar scroll colour and the background colour of the `Meet Our Team` section is the same making for a  bad UI experience for the user.
![Screenshot 2022-03-01 113212](https://user-images.githubusercontent.com/99732684/156114128-9634030b-9199-48ff-a537-ca91c4ef9c16.png)
In my opinion, it will be good to change the colour of the sidebar scroller.

[2022-03-01 06:09] geetanjaliverma commented on #91
Hello , Can I work on this issue?

[2022-03-01 07:01] Phalak-Sharma opened #113 "in the opportunity section the left border of 2nd and 3rd card are not visible"

[2022-03-01 08:10] anish2210 commented on #88
hello @Gauravdarkslayer sir, I want to work on this issue can anyone please assign this work to me I am attaching one of my works with this comment, It is a registration/login page that is built on stackblitz.
MUST CHECK THE RESPONSIVENESS 😊
link - https://angular-ivy-iro2sa.stackblitz.io/

[2022-03-01 09:36] afreenabegum commented on #97
Hi @SauravMukherjee44.
I would like to work on this under GSSOC .Can you please assign it to me?

[2022-03-01 10:18] Kumar-laxmi opened #114 "Code Optimization"
The CSS classes declaration can be mapped to independent css file .

The would make code readable and reduce lines of code and complexity.

[2022-03-01 10:29] maura-dev opened #115 "Events and opportunities section"
The cards on the events section are not properly spaced on mobile. The cards on the opportunity section don’t have equal width on mobile

[2022-03-01 11:11] Ankit62042 commented on #111
I want to work on this issue

[2022-03-01 11:11] Ankit62042 commented on #113
I want to work on this issue

[2022-03-01 11:12] Ankit62042 commented on #112
I want to work on this issue

[2022-03-01 11:37] Adhetya opened #116 "No space between cards in Our Events page in mobile view"
<img width="350" alt="Screenshot 2022-03-01 at 5 04 58 PM" src="https://user-images.githubusercontent.com/20537150/156162281-29bb44b3-1069-47dc-8900-f727373433d6.png">

[2022-03-01 12:36] iamtanya-22 commented on #116
Please assign this issue to me ...I will make a friendly user-interface .

[2022-03-01 12:57] Anthima commented on #113
I would like to work on this issue under GSSOC, can you please assign this to me?

[2022-03-01 13:50] devgirlcodes commented on #112
@Ankit62042 I opened this issue to work on it. Maybe check out other issues opened by project admin

[2022-03-01 14:25] SauravMukherjee44 commented on #88
@anish2210 Go for it!

[2022-03-01 14:27] SauravMukherjee44 commented on #91
@Kanika1309 Go for it!

[2022-03-01 14:29] SauravMukherjee44 commented on #97
@Girlwithasmile Go for it!

[2022-03-01 15:03] ridhig16 commented on #98
I am a GSSOC'22 participant and want to work on this issue.pls assign this issue to me

[2022-03-01 15:13] SauravMukherjee44 commented on #113
@Phalak-Sharma Go for it!

[2022-03-01 15:15] SauravMukherjee44 commented on #115
@maura-dev Go for it!

[2022-03-01 15:33] anish2210 commented on #88
Thanks!

On Tue, 1 Mar, 2022, 7:56 pm Saurav Mukherjee, ***@***.***>
wrote:

[2022-03-01 15:33] DweejaReddy opened #117 "Dark theme can be included and ui changes are possible"
I am GSSOC'22 contributor
The current version looks a little bland and could be better with ui changes and animations
Please assign this to me if you think this is an issue to be addressed

[2022-03-01 16:41] mahi-19 commented on #98
I am a GSSOC'22 participant and want to work on this issue.pls assign this issue to me if somone is not able to do it

[2022-03-01 17:44] jheel05 commented on #110
@Navi68 try to be innovative while doing this.

[2022-03-01 17:52] DaisyRamone14 commented on #114
hello! working on gssoc, it's my first issue. may i work on this?

[2022-03-01 19:20] the-centinal commented on #98
please assign this task to me under GSSOC 2022

[2022-03-01 20:18] maura-dev opened #120 "Add scroll animations to the landing page on mobile screens"
Scroll animations to be added to the cards when scrolling the landing page on mobile screens
for GSSoc

[2022-03-01 22:24] warriorBunny013 opened #121 "Fonts in opportunity section looks congested, home page fonts looks small with respect to view port"
please assign this to me. I can make changes
1. change the fonts and make it more presentable in both the home and opportunity section
2. making the overall UI attractive.

[2022-03-02 01:19] Kumar-laxmi commented on #114
By the way I have fixed the problem

[2022-03-02 03:03] DaisyRamone14 commented on #114
oh sorry, i did not see that, thank you

[2022-03-02 04:10] Pradumnasaraf opened #122 "docs: Add PR Template"
### Chnages
- Adding a PR template
- Template path **`.github/PULL_REQUEST_TEMPLATE.md`**

### Template Preview (while creating a PR.)
![Screenshot from 2022-03-01 17-54-32](https://user-images.githubusercontent.com/51878265/156168840-66822d65-3e60-4026-8064-f967d66cf94b.png)

####  Due to that we are also missing out on some checks on the community standards checklist

![Screenshot from 2022-03-0

[2022-03-02 04:11] Pradumnasaraf opened #123 "docs: Add Issue Templates"
### Chnages
- Adding Issue templates
- Template path **`.github/ISSUE_TEMPLATE`**

###Template Types
![Screenshot from 2022-03-01 21-03-49](https://user-images.githubusercontent.com/51878265/156198784-b2e8d551-3df4-4aff-a7c7-051a88c344c0.png)

### Template Preview (while creating an issue - bug.)
![Screenshot from 2022-03-01 18-03-48](https://user-images.githubusercontent.com/51878265/156169861-53

[2022-03-02 05:53] Pragatii08 commented on #95
I would like to work on this issue.

[2022-03-02 06:32] warriorBunny013 commented on #97
I've good frontend and ui ux design skills please assign this to me if none assigned till now.

[2022-03-02 10:24] yashbhardwaj11 opened #124 "Redesign the Opportunity section cards"
Adding more space, responsive
adding more CSS effects to the Opportunity section

[2022-03-02 10:24] #124 closed

[2022-03-02 10:59] Prajnaprabhu3 commented on #122
Can I work on this issue?

[2022-03-02 12:24] Pradumnasaraf commented on #122
Hey!, you have to create your own issue to work on (according to Gssoc'22),
Thank You

[2022-03-02 13:04] SauravMukherjee44 commented on #121
@warriorBunny013 Go for it!

[2022-03-02 13:26] #115 closed

[2022-03-02 15:23] #114 closed

[2022-03-02 15:28] SonikeshKumar14 commented on #123
Hi! I would like to work on this issue under GSSOC`22. Please assign it to me.

[2022-03-02 15:46] jheel05 commented on #112
@devgirlcodes go for it!

[2022-03-02 16:02] SauravMukherjee44 commented on #123
@Pradumnasaraf Go for it!

[2022-03-02 16:21] the-centinal commented on #98
please assign this task to me   under GSSOC2022

[2022-03-02 21:39] Rhydham2809 opened #126 "Opportunities section"
Opportunity section can be made more attractive.
I am gssoc 2022 participate. Kindly assign this issue to me.

[2022-03-03 05:52] devgirlcodes commented on #112
@jheel05 is there an official colour scheme for the website that I need to follow?

[2022-03-03 06:22] VIDHI-BAJAJ commented on #95
I would like to work on this issue

[2022-03-03 11:05] jheel05 commented on #126
@Rhydham2809 go for it.

[2022-03-03 12:26] unnikrishnan2002 opened #129 "Social media icons hover improvement"
![image](https://user-images.githubusercontent.com/76985777/156564283-56cbf6e3-d883-4de6-8c77-e1935e316372.png)
In the current state the when hovered through the icons it changes to blue background . It would be great if we put separate color for different social media icons . For eg purple background for discord, red for youtube etc.

[2022-03-03 12:27] unnikrishnan2002 commented on #129
I am a gssoc contributor and I would love to take up this issue @SauravMukherjee44

[2022-03-03 16:28] SauravMukherjee44 commented on #129
@unnikrishnan2002 Go for it!

[2022-03-03 16:44] #120 closed

[2022-03-03 16:46] #111 closed

[2022-03-03 17:05] Naresh-chandanbatve opened #130 "Improve header and footer on benefits page"
As shown in screenshot below ,
 the benefit page has only home button which doesn't look good,

## I can add codeIN community website's header and footer in the benefit.html pge.

![Screenshot 2022-03-03 223331](https://user-images.githubusercontent.com/70953218/156614350-b4a5bf00-efd2-4f4c-9a77-cb433eaa4947.png)

[2022-03-03 17:46] Kanika1309 commented on #91
@SauravMukherjee44 Thanks, I will start working on it.

[2022-03-03 17:54] vardhinii opened #132 "Improve Responsiveness of community partners section"
## Description:
+ When viewed in mobile-view, the alignment is mismatched in the last row.
+ When viewed in i-pad view, two community logos disappear mostly.

I'm a participant under GSSoC'22 and I will make it responsive. Please assign this issue to me.

![image](https://user-images.githubusercontent.com/77223276/156622553-a402d4f2-c22c-4d82-a361-510d082239fa.png)
![image](https://user-images.git

[2022-03-03 18:47] #122 closed

[2022-03-03 18:49] SauravMukherjee44 commented on #132
@vardhinii Go for it!

[2022-03-03 20:34] Naresh-chandanbatve commented on #129
@unnikrishnan2002
it will be great if you made this changes in all the files that uses  CodeIN communities header and footer .

[2022-03-04 04:03] akki251 opened #134 "Enhancement : Color Contrast of text and background is very poor"
# Description

- Color combination of text and background is very poor, here is the report

![color contrast ](https://user-images.githubusercontent.com/67007034/156697069-13b418cc-4083-4bce-b918-d88ae08140a1.png)

- You can use dark shade of your main color i.e red, here is the color pallet I would like to introduce

![Color pallet  2 ](https://user-images.githubusercontent.com/67007034/156697136

[2022-03-04 05:56] sceary-expert commented on #132
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 05:57] sceary-expert commented on #129
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 05:58] sceary-expert commented on #126
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 05:58] sceary-expert commented on #116
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 05:58] sceary-expert commented on #110
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 05:59] sceary-expert commented on #109
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 05:59] sceary-expert commented on #98
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 06:00] sceary-expert commented on #97
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 06:00] sceary-expert commented on #91
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 06:01] sceary-expert commented on #88
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903 can you assign me?

[2022-03-04 06:09] unnikrishnan2002 commented on #129
Sure I will look into that 👍

[2022-03-04 08:55] anish2210 opened #139 "The boxes in the "Join Us Here" section are not of the same size."
Hay @SauravMukherjee44, This issue is already resolved by me. I request you to assign me this issue, and one more thing, there is a grammatical mistake that too has been resolved.😊

[2022-03-04 09:59] ronitrangwani commented on #95
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:11] Abhilasha-Jairath commented on #130
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:12] Abhilasha-Jairath commented on #116
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:20] anish2210 commented on #139
![before editing](https://user-images.githubusercontent.com/93440436/156745109-3fef72a5-d6cc-49d6-bf81-9038d295aea9.jpg)

have a look at the issue.

[2022-03-04 10:34] anish2210 commented on #88
sorry @sceary-expert  brother I have already been assigned to resolve this issue, let me try my best first....and if I can't make it then I will request the owner to assign this to you.
Till then you may find a new issue on the website and raise an issue of your own as I did.
And yes I too am a GSSoC 2022 contributor. 😊

[2022-03-04 10:46] anish2210 opened #140 "The boxes are not visible properly in the "Join us here" section."
![Screenshot (5)](https://user-images.githubusercontent.com/93440436/156748846-cc32de1a-7e7e-4416-89ac-6866e56a12d2.png)
                                                   |
                                                   |
@SauravMukherjee44 you should check the difference between the two images.😊
                                                   |
|
![Screenshot (13)](https://user-images.git

[2022-03-04 11:03] anish2210 commented on #139
Is there anyone else who can assign me to this.

[2022-03-04 13:28] varisha-025 commented on #96
Hey @SauravMukherjee44. Can you tell me more about this enhancement? Any reference image would be great.

[2022-03-04 13:35] #130 closed

[2022-03-04 17:23] KartikVerma0 opened #141 "Website takes too much time to load"
It took me 1.9 min to load the website leading to bad user experience
![Total Time](https://user-images.githubusercontent.com/97230777/156811239-574882b0-5b43-44fb-8d06-5407f0df9dbc.PNG)
.

Following assets takes most time to load, Most of them being images should be compressed so they can load easily. Try to compress images and make them below 200kb, also compress the images currently in use.
![T

[2022-03-04 17:28] KartikVerma0 commented on #141
Incorporate imgBot software in GitHub Repo, it automatically compresses uploaded images and creates a PR which when merged gives compressed images.
![Img Bot](https://user-images.githubusercontent.com/97230777/156812382-c797b907-61fc-4cb7-a24b-f5770271ddd8.PNG)

[2022-03-05 05:09] suman-shah commented on #91
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 07:39] #129 closed

[2022-03-05 07:51] #132 closed

[2022-03-05 08:29] SauravMukherjee44 commented on #141
@KartikVerma0 Try to fix it!

[2022-03-05 08:30] #140 closed

[2022-03-05 08:47] warriorBunny013 opened #142 "About section texts are not aligned properly and color contrast is also very poor"
please assign this issue to me.. I can change the color contrast of the benefits of joining us section and also the page directed by the learn more button and I can also restyle the links a bit

[2022-03-05 09:02] jheel05 commented on #142
do it

[2022-03-05 09:17] KartikVerma0 commented on #142
Also increase the font-size of the all the section heading for more contrast.
![Capture](https://user-images.githubusercontent.com/97230777/156876904-f2b560fb-a75b-430a-9b2f-fcd8dc69df51.PNG)
![Capture2](https://user-images.githubusercontent.co
![Capture3](https://user-images.githubusercontent.com/97230777/156876943-35416c60-dfe3-4f08-9b00-524c658f3850.PNG)
m/97230777/156876927-a43632d3-e06c-43f4-

[2022-03-05 09:21] jheel05 opened #145 "Try innovating the design of navigation bar."
Hey Contributors, try to innovate the navigation bar design.

[2022-03-05 09:25] jheel05 opened #146 "Font size and style of whole website."
Hey, contributors try to change the font size and style and make the website more beautiful and user-friendly.

[2022-03-05 10:34] jheel05 opened #147 "Edit Cards in Our event section."
Hey contributors. Cards in Our event section are stretched and look bad, Do work on it.

[2022-03-05 10:54] #91 closed

[2022-03-05 10:58] jheel05 opened #148 "Make the Blog Section Responsive."

[2022-03-05 11:09] jheel05 opened #149 "Add links to navigation bar of blog section."
The links back to Home, About, Team, Opportunity, and events are not working, connect the links.

[2022-03-05 12:07] maura-dev commented on #148
Please assign this to me

[2022-03-05 12:48] Kumar-laxmi opened #150 "Enhancement: Add hovering effect to images in 'Sponsors' and 'Our Community Partners'"
The icons below could be made more cool if we apply some hovering effect when mouse points them
![image](https://user-images.githubusercontent.com/76027425/156883675-78b0b624-5be3-4dff-bed1-bdedb7659cc5.png)

[2022-03-05 12:55] Abhishek786-Kolvekar opened #151 "I would like to contribute in "Join Us Here" Section by usage of Hover Cards"
Having an attractive animation always enhances the UI and hence I thought that addition into this field would be a great help.
The tech Stack used will be HTML and CSS.
Please assign me this task and I assure you I will not disappoint.
Regards.

[2022-03-05 13:07] AbhinavBattu opened #152 "Adding a home button at the join community page of the website."
Adding a home button at the join community page. There should always be a home button at every page of the website for providing convinience to the user to get back to the home page of the website when needed.

[2022-03-05 13:31] Avni17 commented on #149
Please assign this issue to me, I want to contribute in resolving this issue..

[2022-03-05 13:51] Strangerharsh commented on #146
i want to  work on this.

[2022-03-05 14:19] akshatjain-akj commented on #147
I am GSSOC'22 participant.Please assign this issue to me, I am eager to contribute in this issue .

[2022-03-05 14:23] #121 closed

[2022-03-05 15:43] Strangerharsh commented on #152
I want to work on it.

[2022-03-05 15:49] jheel05 commented on #146
go for it

[2022-03-05 15:49] jheel05 commented on #147
@akshatjain-akj do it

[2022-03-05 15:50] jheel05 commented on #148
@maura-dev go for it

[2022-03-05 15:51] jheel05 commented on #149
@Avni17 go for it

[2022-03-05 15:51] jheel05 commented on #151
@Abhishek786-Kolvekar go for it

[2022-03-05 15:52] #113 closed

[2022-03-05 15:52] jheel05 commented on #150
@Kumar-laxmi do it

[2022-03-05 16:39] Akshata-Gunapache opened #155 "Editing the "blog" option in the navbar"
The "blog" word in the navbar is not good enough . It doesn't match the other options on the navbar.
![Screenshot 2022-03-05 220849](https://user-images.githubusercontent.com/96786500/156892182-26f48bea-30b1-4f99-b5b3-0a49fbc4762b.png)

[2022-03-05 16:41] Akshata-Gunapache commented on #155
I am a participant at GSSoC 22 . And I would love to work on this issue. Please assign it to me.

[2022-03-05 17:10] jheel05 commented on #155
What kind of word do you want to replace blogs with?

[2022-03-05 17:47] AbhinavBattu commented on #152
Actually in this website community page is a different website which is connected by a link. So we cannot make changes in the join community website as code is not available to us. I don't know how to proceed.

[2022-03-05 18:22] KartikVerma0 commented on #155
He meant to say that "blog" is not title cased ("Blog").

[2022-03-05 18:25] KartikVerma0 commented on #152
@AbhinavBattu Do you mean you want to add navigation to this page?
![Capture](https://user-images.githubusercontent.com/97230777/156895658-42e61088-990c-4824-a139-e92aa811bfc0.PNG)

[2022-03-05 18:34] KartikVerma0 opened #157 "Overlapped elements in blog page."
The chat button and to-top button are overlapped on top of each other making it difficult to use on Blog Page.
![Capture](https://user-images.githubusercontent.com/97230777/156895936-62e08c48-545b-4692-96cc-020fde204a5b.PNG)
.

[2022-03-05 19:20] KartikVerma0 commented on #157
@jheel05 Do we need that chat button on a blog page?

[2022-03-05 20:56] jheel05 commented on #157
I don't think so, @SauravMukherjee44 please confirm.

[2022-03-06 01:36] Akshata-Gunapache commented on #155
@jheel05 Thank you for assigning this issue to me. I will soon work on it.

[2022-03-06 02:27] Akshata-Gunapache commented on #155
@jheel05 I have created a pull request on this issue . I would request you to look into the changes I made and merge the PR 🙏.

[2022-03-06 04:28] radzhiv25 commented on #145
Like can you give any suggestions what all you would like to see
so we can further elaborate the thing

[2022-03-06 05:03] #142 closed

[2022-03-06 05:04] #155 closed

[2022-03-06 06:32] SauravMukherjee44 commented on #157
@KartikVerma0 That is common to each page will cover the whole website.

[2022-03-06 06:36] SauravMukherjee44 commented on #96
@varisha-025 You can just add a Back and next button on the left and right side!

[2022-03-06 07:13] KartikVerma0 opened #159 "Blog Section Improvement"
![Capture](https://user-images.githubusercontent.com/97230777/156913041-72c6a7a8-d224-4221-8ad9-64303a39b893.PNG)

[2022-03-06 07:22] anish2210 commented on #145
Hay @jheel05 I would like to work on this issue, can you assign this task to me?

[2022-03-06 07:53] KartikVerma0 commented on #159
@jheel05 Kindly assign it to me!

[2022-03-06 11:33] Shivam-Katare commented on #159
I want to solve this issue so, can you assign me this issue?

[2022-03-06 14:38] Khushi25pandey commented on #146
I would like to work on this. Please assign it to me @jheel05

[2022-03-06 14:40] Khushi25pandey commented on #145
I would like to work on this. Please assign it to me @jheel05

[2022-03-06 14:49] jheel05 commented on #159
@KartikVerma0 go for it!

[2022-03-06 14:54] jheel05 commented on #145
@radzhiv25 its totally on your creativity, all you have to do is make the navigation bar look beautiful as well as simple and subtle.

[2022-03-06 15:02] jheel05 commented on #145
@radzhiv25 would you like to work on it?

[2022-03-06 15:12] radzhiv25 commented on #145
Sure

[2022-03-06 17:57] #150 closed

[2022-03-07 03:11] Bhavya-Parikh opened #165 "No validation check in email"
Hey there,
There is no validation check of email in contact us form in homepage and in blog section too.
Please assign this issue so I can fix it.

[2022-03-07 03:27] Bhavya-Parikh opened #166 "Formatting in benefit section"
![CC](https://user-images.githubusercontent.com/94140721/156962710-19c6f9db-e49b-466f-904f-43aeaefb7411.png)

This section can be formatted better with hyperlinks and names.
Please assign this issue so I can fix the same.

[2022-03-07 07:12] #123 closed

[2022-03-07 08:46] jheel05 commented on #165
@Bhavya-Parikh go for it

[2022-03-07 10:48] jheel05 commented on #166
@Bhavya-Parikh go for it, show your creativity.

[2022-03-07 16:14] #148 closed

[2022-03-07 18:43] aaryahjolia opened #169 "The 'Go to Top' button improvement"
### Description

The go to top button is very above than the desired position of it and also it don't have pointer cursor when hovered on it.
I would like to work on this issue under GSSoC'22.

### Screenshots

_No response_

[2022-03-08 02:51] Bhavya-Parikh opened #172 "navbar issue on blog page"
### Description

On the blog page the navbar is not scrolling to contact form when clicked, that is it is not working as desired.
Please assign the issue so I can fix it.

### Screenshots

_No response_

[2022-03-08 02:52] #172 closed

[2022-03-08 06:51] jheel05 commented on #169
@aaryahjolia do it

[2022-03-08 11:43] #116 closed

[2022-03-08 11:48] Adhetya opened #173 "Making UI more condensed in desktop view"
### Description

The UI of the webpage when the **Join Now** button is clicked in the main website leads to a webpage with various social links. While the column view is good for mobile view due to limited screen space, the space is not optimised in desktop view. The social links can be arranged in row wise manner making use of the space and also removes the need to scroll down to view more detail

[2022-03-08 11:53] #173 closed

[2022-03-08 11:55] Adhetya opened #174 "Text overflow in blog section"
### Description

Text overflows in the various cards given in blog section which does not make the UI look very good.

### Screenshots

<img width="1440" alt="Screenshot 2022-03-08 at 5 24 04 PM" src="https://user-images.githubusercontent.com/20537150/157233515-649e617e-b571-4014-9ab9-372190cbdee5.png">

[2022-03-09 02:35] Bhavya-Parikh commented on #149
I want to work on this.

[2022-03-10 06:40] Adhetya opened #177 "Social icons don't match with the colour scheme"
### Description

I feel the social icons which currently has a black and yellow colour scheme in the footer does not match with the rest of the website. Instead we can go for a red hover animation to match the colour scheme. I am a GSSOC 22 participant.

### Screenshots

<img width="1435" alt="Screenshot 2022-03-10 at 12 04 13 PM" src="https://user-images.githubusercontent.com/20537150/157603959-4

[2022-03-10 09:27] jheel05 commented on #177
@Adhetya go for it

[2022-03-10 12:01] KiranAminPanjwani opened #178 "Redesign "Contact Us" section"
### Description

In my opinion, the "Contact Us" section can be made more visually appealing.
I am a GSSoC'22 participant., kindly assign me this issue.

### Screenshots

_No response_

[2022-03-10 12:36] samipak458 opened #179 "Want to add policy page"
### Description

There is no policy section or page  in website. I want to add policy page. Provide me the content and let me know you want section or separate page for policy. I am a GSSoC'22 participant. kindly assign me this issue.

### Screenshots

_No response_

[2022-03-10 13:56] #165 closed

[2022-03-10 13:56] #169 closed

[2022-03-10 13:57] #174 closed

[2022-03-10 13:57] #166 closed

[2022-03-10 13:58] jheel05 commented on #178
@KiranAminPanjwani go for it

[2022-03-10 13:59] jheel05 commented on #179
@samipak458 do it

[2022-03-10 20:11] #177 closed

[2022-03-11 15:42] Ritika122001 opened #181 "Redesign the Blog Section"
### Description

I would like to redesign the Blogs section according to UI of the website.
Kindly assign this issue to me.

Thank you !!

### Screenshots

_No response_

[2022-03-11 17:45] jheel05 commented on #181
@Ritika122001 go for it

[2022-03-11 20:34] VishweshDeshpande28 opened #182 "Some of the minor changes."
I want to make some minor grammatical changes and some Improvements to enhance the interface of the website.
I'm a GSSoC'2022 Contributor and kindly assign me this work.

Vishwesh Deshpande, GSSoC'2022

[2022-03-12 06:51] abhijais27 opened #183 "[FEATURE] <description>"
### Description

I would like to change the tawk-min-chat-icon

### Screenshots

_No response_

[2022-03-12 07:52] jheel05 commented on #182
@VishweshDeshpande28 do it

[2022-03-12 07:53] jheel05 commented on #183
@abhijais27 do it

[2022-03-12 12:14] TG922 opened #184 "Bug: Fixing the bottom to top button in blog page"
### Description

The bottom up top button on landing page is working fine, but in the blog page the button acts weirdly.
I can fix this issue, please assign it to me under GSSOC22.

### Screenshots

![Image4](https://user-images.githubusercontent.com/70098839/158017546-9effe61f-bba1-4ed9-93be-4692f4e13ba5.PNG)

[2022-03-12 15:13] Adhetya opened #186 "Cards are not of equal height"
### Description

The cards in the join here section are not of equal height.

### Screenshots

<img width="1409" alt="Screenshot 2022-03-12 at 8 41 57 PM" src="https://user-images.githubusercontent.com/20537150/158023654-8fa6112b-3c31-4056-9ee6-68386c95f0d9.png">

[2022-03-13 11:22] jheel05 commented on #184
@TG922 go for it

[2022-03-13 16:49] anish2210 commented on #186
I have already raised an issue for this....and created a PR too...

[2022-03-14 05:08] #186 closed

[2022-03-14 13:35] #181 closed

[2022-03-14 13:35] #179 closed

[2022-03-14 13:37] #139 closed

[2022-03-14 14:54] maura-dev opened #192 "Fixing the floating buttons"
### Description

There is an overlap of the two floating buttons at the bottom right of the page.

### Screenshots

![992C8B88-3AEC-4EA1-BCB5-2040020E8468](https://user-images.githubusercontent.com/67394368/158198294-0203093d-4b53-4cb6-b7dd-15e3418ff3d1.png)

[2022-03-14 19:24] samipak458 opened #194 "Change and Redesign Preloader"
### Description

Preloader is very simple, preloader can be made more visually appealing.
I am a GSSoC'22 participant, kindly assign me this issue.

### Screenshots

_No response_

[2022-03-15 13:42] anish2210 opened #195 "[Update] <for better visibility>"
### Description

The boxes are not visible properly to NEW USERS......... I have given a better look to the boxes in the "Join Us Section".😍
Have a look at the screenshot below...
1 - BEFORE EDITING

2 - AFTER EDITING
.
.
![Screenshot (24)](https://user-images.githubusercontent.com/93440436/158390160-2de494c7-93ef-494d-9ee0-c0bd8c902d25.png)
.
.
I want you to assign me for resolving the issue.

##

[2022-03-15 19:50] samipak458 commented on #194
Assign this issue to me @jheel05

[2022-03-16 09:08] jheel05 commented on #195
@anish2210 do it

[2022-03-16 12:05] samipak458 commented on #194
@jheel05 assign this issue to me

[2022-03-16 13:02] anish2210 commented on #195
@jheel05 what does the LEVEL tag stands for ?

[2022-03-16 17:13] #159 closed

[2022-03-16 17:14] #157 closed

[2022-03-17 11:46] Ishitacoding opened #197 "Missing effect in Contact section."
### Description

Red hover is missing just in contact section on other section like join us or Quick Links it is present.

### Screenshots

![Screenshot (43)](https://user-images.githubusercontent.com/98388241/158802058-e7b08275-2a86-4747-b643-6eabe653fe1b.png)

[2022-03-17 13:40] Simran2337 opened #198 "[FEATURE] Adding blog section in home page and allowing filtering the blogs in blog page"
### Description

Adding a filter for filtering out blogs.

### Screenshots

_No response_

[2022-03-17 15:36] Ishitacoding opened #199 "CONTACT US SECTION IMPROVEMENT"
### Description

Contact us section can be more Attractive . it's too simple.

### Screenshots

![Screenshot (44)](https://user-images.githubusercontent.com/98388241/158836008-687468a0-5e13-43e0-8280-4a791174d44b.png)

[2022-03-17 15:45] #199 closed

[2022-03-17 16:41] maura-dev opened #200 "Improve the validation warnings of the form when empty"
### Description

When you click on send message on the contact form without filling the form, some validation errors come up but are not visible enough to trigger users.
I plane to change the text color to red to improve visibility for errors

### Screenshots

![form](https://user-images.githubusercontent.com/67394368/158850249-86560e64-e947-4c98-8d83-eefe7b7e00c2.png)

[2022-03-17 17:12] #192 closed

[2022-03-17 19:17] SauravMukherjee44 commented on #194
@samipak458 Go for it!

[2022-03-18 02:52] goyalsaksh commented on #152
I am GSSOC contributor , please assign this issue to me.

[2022-03-18 02:55] goyalsaksh commented on #96
@SauravMukherjee44  if there is no one to solve issue , i am GSSOC contributor, would like to contribute in it.

[2022-03-18 17:30] #200 closed

[2022-03-18 17:34] #195 closed

[2022-03-18 18:03] SauravMukherjee44 opened #204 "Improve the SEO of the Website in the Google search results."
### Description

Improve the SEO of the site: www.codeincommunity.tech and add relevant descriptions, keywords to make it ranked in the search results.

### Screenshots

_No response_

[2022-03-18 18:29] anish2210 commented on #195
Why the issue has been closed?

[2022-03-19 09:48] Adhetya commented on #204
Hello, I am a GSSOC 22 participant. I do not know much about SEO optimization but I am interested to learn and work on this issue. Can you assign it to me?

[2022-03-19 15:09] Simran2337 opened #205 "[ENHANCEMENT] Modify footer section and make it responsive"
### Description

Make footer section responsive in  desktop and mobile view.

### Screenshots

_No response_

[2022-03-20 12:49] vinrusty commented on #205
Can I please work on this issue?

[2022-03-20 12:57] vinrusty opened #207 "[ENHANCEMENT] Improving the design of the cards in the blogs section."
### Description

Improving the design of the cards in the blog section by reducing the border radius and removing the top right and top left border radius in the description section of the card.

### Screenshots

_No response_

[2022-03-20 12:58] vinrusty commented on #207
Can you please assign this issue to me?

[2022-03-20 14:52] rashi1405 commented on #109
I would like to work on this issue under GSSOC, can you please assign this to me?

[2022-03-20 14:53] rashi1405 commented on #88
I would like to work on this issue under GSSOC, can you please assign this to me?

[2022-03-20 15:47] #198 closed

[2022-03-20 18:23] #197 closed

[2022-03-21 13:55] #207 closed

[2022-03-21 13:59] SauravMukherjee44 commented on #204
@Adhetya Go for it!

[2022-03-22 09:06] Kumar-laxmi opened #210 "[FEATURE] Apply tilting effect to all images in the website"
### Description

The below tilting effect has been done using Vanilla JS Tilt but these tilt effect aren't there in some of the newly created pages.

So I can add it in those pages too.

### Screenshots

![image](https://user-images.githubusercontent.com/76027425/159445434-2d708ee9-6501-44d8-bd41-b02e9d4e21cd.png)

The tiliting effect is visible on geeksforgeeks icon

[2022-03-22 16:43] Simran2337 commented on #98
Can I redesign the page as a GSSOC participant!!

[2022-03-23 10:11] dvlsatya commented on #96
i would like to contribute it . can you assign this to me?

[2022-03-23 10:17] dvlsatya commented on #205
can you please assign me this issue?

[2022-03-23 10:28] dvlsatya commented on #184
can you please assign this to me?

[2022-03-25 13:26] Tanujkanti4441 opened #213 "team section reasponsiveness"
### Description

Hey, team section's card are are overlapping on tablet size can i fix this.

![Screenshot 2022-03-25 062237](https://user-images.githubusercontent.com/86398394/160129117-8b3fb845-3203-4127-992b-395b2d81fc8a.jpg)

### Screenshots

_No response_

[2022-03-26 16:22] #213 closed

[2022-03-26 23:46] TG922 commented on #184
@jheel05 I've almost worked on it will send PR Today

[2022-03-27 09:23] Ritika122001 opened #215 "Event Section"
### Description

Is someone working on event section ? Kindly assign it to me !!

### Screenshots

_No response_

[2022-03-28 19:42] SauravMukherjee44 commented on #215
@Ritika122001 What changes you wants to do ?

[2022-03-29 01:05] Kumar-laxmi commented on #210
@jheel05 Hey I just created this as an issue due to some mismatch I found

[2022-03-29 08:29] Ritika122001 commented on #215
I will improve the UI of cards. The information displaying on hovering is same as the background image . So I will remove text on hovering and include the button to link it to Youtube.

[2022-03-29 12:44] jheel05 commented on #215
@Ritika122001 sure, work on it

[2022-03-31 06:01] #204 closed

[2022-04-01 17:43] Simran2337 opened #217 "Overlapping chat and back to top button"
### Description

![image](https://user-images.githubusercontent.com/54612637/161314951-0d409d66-f53a-487f-a600-2840bf12ee84.png)

### Screenshots

_No response_

[2022-04-02 02:42] Adhetya opened #219 "Improve website performance"
### Description

When running the website via lighthouse in Chrome, I notice performance could be improved by following some of the suggestions provided in the screenshot. I would like to attempt to fix as many as of these as possible to improve website performance for a better user experience.

### Screenshots

<img width="963" alt="Screenshot 2022-04-02 at 8 10 53 AM" src="https://user-images.gi

[2022-04-02 03:09] codingkush opened #220 "Improve opportunity section"
### Description

I want to improve the opportunity section because when I visited opportunity section in mobile .so it doesn't looks good .

### Screenshots

![Screenshot_20220402-083225](https://user-images.githubusercontent.com/78756312/161363557-b59ea498-e457-4936-b793-4f4846f63f28.png)

![Screenshot_20220402-083233](https://user-images.githubusercontent.com/78756312/161363560-2e9bae87-d73e-4da

[2022-04-02 03:10] codingkush commented on #220
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-04-02 15:46] #194 closed

[2022-04-02 15:51] #205 closed

[2022-04-02 15:53] SauravMukherjee44 commented on #220
@codingkush Go for it!

[2022-04-02 17:58] codingkush commented on #220
Thanks for assigning it to me

[2022-04-03 04:15] abhilipsasahoo03 opened #221 "Fix broken image link and other documentation enhancements"
### Description

The CodeIN community banner shows broken on GitHub Mobile App. I'd like to fix that and make other minor enhancements in the documentation. Consider this contribution under GSSOC'22.

### Screenshots

![Screenshot_2022-04-03-09-38-56-345_com github android](https://user-images.githubusercontent.com/80174214/161411150-00e3493d-5308-4155-9b28-97676d2994a2.jpg)

[2022-04-03 14:03] vaishnavi2810-code opened #222 "More opportunites in opportunity section."
### Description

To add more opportunites in the opportunity section which contains only 3 opportunities right now.

### Screenshots

_No response_

[2022-04-03 16:00] #217 closed

[2022-04-03 16:22] Simran2337 opened #224 "Kickstart with backend of CodeIN-Community-Website"
### Description

The data of dynamic sections of the Website to be stored in the database.

Tech Stack :  NodeJS, Express, MongoDB/SQL.

### Screenshots

_No response_

[2022-04-04 07:37] SauravMukherjee44 commented on #221
@abhilipsasahoo03 Go for it!

[2022-04-04 14:31] #221 closed

[2022-04-04 16:33] aaryahjolia opened #226 "Links broken in opportunity page and color too"
### Description

In opportunity.html page, The link is broken of blogs.html, it is not going to blog page from opportunity page and also in opportunity page, the highlighted link is of blog page which should be of opportunity page.
I want to do these minor changes.

I'm a GSSoC contributor.

### Screenshots

![GSSoC](https://user-images.githubusercontent.com/82600388/161589958-d8ce1615-c900-4eec-9

[2022-04-05 19:22] Sukriti-m commented on #184
Hi @jheel05
If this task is being delayed, then I'd be glad to work on this issue.
I'd be grateful if you could assign this task to me under GSSoC'22.

[2022-04-06 03:35] KiranAminPanjwani opened #228 "Font Color And Size Of "Meet Our Team" Section Is Not According To The Website."
### Description

I have noticed that the font color and size of the "Meet Our Team" section are different compared to the whole website. The section would look better if it is changed.

### Screenshots

![WhatsApp Image 2022-04-05 at 1 46 48 PM](https://user-images.githubusercontent.com/90326051/161890739-5c91aba5-ad76-46a9-8db0-5af407380ead.jpeg)

[2022-04-06 03:36] samipak458 opened #229 "Add subscribe to our newsletter"
### Description

I would like to add a  subscribe to our newsletter in footer.

 I am GSSOC'22 participant kindly assign this issue to me.

### Screenshots

![image](https://user-images.githubusercontent.com/52650290/164768511-391bd119-8909-4718-8023-8ffd3b852dbb.png)

[2022-04-06 03:37] KiranAminPanjwani commented on #228
@SauravMukherjee44 I'm the participant of GSSoC'22, kindly assign this issue to me. Thank you.

[2022-04-06 03:39] samipak458 commented on #229
@jheel05 @SauravMukherjee44  kindly assign this issue to me. I am GSSOC'22 participant.

[2022-04-06 03:46] KiranAminPanjwani opened #230 "Improving Design Of "Contact Us" section"
### Description

In my opinion, the "Contact Us" section can be made more visually appealing.
I am a GSSoC'22 participant, so kindly assign me this issue.

### Screenshots

_No response_

[2022-04-06 16:08] TG922 commented on #184
@jheel05 I've almost worked on it will send PR Today

[2022-04-07 06:46] Rakesh9100 opened #231 "Adding an Admin section"
### Description

I would like to add Project admin section in Readme.md file. Can I ?

### Screenshots

_No response_

[2022-04-07 06:48] Pallavisingh123 opened #232 "want to improve logo visibility"
### Description

Hii...
I have seen In this website logo is not looking clear and attractive I want to make some improvements to the logo, buttons, and navbar.
kindly assign me for this.

### Screenshots

![Screenshot (40)](https://user-images.githubusercontent.com/91817009/162136330-890f1925-790f-4238-9187-0d1f2f402ad2.png)

[2022-04-08 04:44] #219 closed

[2022-04-08 04:45] SauravMukherjee44 commented on #228
@KiranAminPanjwani Go for it!

[2022-04-08 04:48] SauravMukherjee44 commented on #229
@samipak458 What you will use as a backend to get the responses?

[2022-04-08 04:50] SauravMukherjee44 commented on #232
@Pallavisingh123 Go for it!

[2022-04-08 04:56] samipak458 commented on #229
@SauravMukherjee44 I am planning to use firebase.

[2022-04-08 11:51] codingkush commented on #220
Ok i do what you said .....

[2022-04-08 13:23] codingkush commented on #220
sir...plz tell me ... is this okay???

![zs](https://user-images.githubusercontent.com/78756312/162444476-59d26d3d-dfcd-4e95-a8ff-d25136e5c757.PNG)

[2022-04-08 13:31] Adhetya opened #235 "Make modifications in benefits page"
### Description

-Change color of linkedin icon to match with website theme
-Remove underline in footer links
-Capitalize 'b' in blogs in navbar
-Change text color to a more darker grey color to improve readability of text. (This is applicable for the entire website)

### Screenshots

<img width="1362" alt="Screenshot 2022-04-08 at 6 51 53 PM" src="https://user-images.githubusercontent.com/2053715

[2022-04-08 17:23] SauravMukherjee44 commented on #229
@samipak458 Alright, All the best!

[2022-04-09 09:00] #235 closed

[2022-04-09 16:58] Shubham29012001 opened #238 "Redesign Footer for Better Experience"
### Description

The footer section of the website is not looking good. As a footer, it should stand differently. Also, there is a lot of padding in the footer section. I want to redesign the footer and remove such extra padding in it. If the issue looks good, then please assign it to me for GSSoC'22.

### Screenshots

Below is the footer image of the current theme -

![image](https://user-images.

[2022-04-10 15:01] AnweshaRoses commented on #145
Hello, I am a GSSOC participant and I would like to work on this, Can you please assign this to me :)

[2022-04-10 18:48] SauravMukherjee44 commented on #238
@Shubham29012001 Go for it!

[2022-04-11 07:16] #238 closed

[2022-04-11 08:46] bosedipayan opened #242 "[Add Covid-19 blog site]"
### Description

I will build a covid based blogging site which will contain all the details including its precautions, safety, causes, prevention etc.

Tech Stacks : HTML, CSS, Bootstrap, Javascript.

### Screenshots

_No response_

[2022-04-11 08:49] bosedipayan commented on #242
Hey @SauravMukherjee44 , as a GSsOC '22 contributor, I'm very excited to work on it. Could you please assign me this.

[2022-04-11 13:33] #210 closed

[2022-04-11 20:52] #226 closed

[2022-04-13 02:29] Sukriti-m commented on #147
Hi @jheel05
If this task is being delayed then, I'd be grateful if you could assign this task to me under GSSoC22.

[2022-04-13 02:41] Sukriti-m opened #246 "Logo Improvement"
### Description

### Problem
The logo of the website is not clearly visible in the header section. Also, the logo does not go well with the color combination of the website.

### Proposed Changes

I will design a new logo and add it to the website.

I'd be grateful if you could assign this task to me under GSSoC22.

@SauravMukherjee44  @jheel05

### Screenshots

![13 04 2022_08 07 03_REC](https://

[2022-04-13 14:42] IKRA786 opened #247 "Word Counter"
### Description

As a GSSOC'22 contributor, I would like to add a word counter which is shown at the bottom when the user types the message in the message section of the contact us section.
Kindly assign this issue to me.

### Screenshots

_No response_

[2022-04-14 15:51] SauravMukherjee44 opened #248 "Add Dark Mode to the website using Dark mode toggle ♨️"
### Description

Add Dark Mode to the website using Dark mode toggle ♨️

### Screenshots

_No response_

[2022-04-14 16:10] jheel05 commented on #242
@bosedipayan actually it's not relevant.

[2022-04-14 16:10] jheel05 commented on #246
@Sukriti-m do it

[2022-04-15 04:14] aytida0606 commented on #248
I want to work on this issue

[2022-04-15 05:39] #242 closed

[2022-04-15 09:10] KiranAminPanjwani commented on #178
@jheel05 The task has been done in issue #230. Thank you.

[2022-04-15 09:10] #178 closed

[2022-04-15 12:21] IKRA786 commented on #247
![message](https://user-images.githubusercontent.com/68096820/163569947-a322b25c-ff74-4593-8f4b-c92cb38ac05a.jpg)
Here I want to add word counter at bottom left corner.

[2022-04-16 06:09] Divya2163 opened #250 "[FEATURE] Adding section for sponsors in navigation bar"
### Description

The sponsor and community partner don't have a hyperlink in the navigation bar. As sponsors and community partners are important for a community it would be good if there is a section in the navigation bar for sponsors to hyperlink to the part of the website. I would like to work on this under gssoc'22.

### Screenshots

_No response_

[2022-04-16 13:09] #228 closed

[2022-04-16 14:04] Divya2163 commented on #250
Kindly assign me this issue

[2022-04-16 19:43] SauravMukherjee44 commented on #248
@praveenscience Go for it!

[2022-04-17 08:14] aytida0606 commented on #248
?

[2022-04-17 14:29] #250 closed

[2022-04-17 14:29] SauravMukherjee44 commented on #248
@aytida0606 No, You have been assigned to work on this.

[2022-04-17 19:12] #231 closed

[2022-04-19 04:19] Sukriti-m commented on #246
Hii @jheel05
![logo1](https://user-images.githubusercontent.com/93239528/163919169-04b944d2-21bd-47d3-8994-f5c7ef2832a9.png)

Can you please review this logo? Is the logo fine? Should I proceed to make changes in the code?

[2022-04-19 09:08] SauravMukherjee44 commented on #246
@Sukriti-m You can submit your designed logos in the assets folder. Submit multiple, We will update the best logo on the website.

[2022-04-20 16:50] dee-ksha opened #257 "Bug in footer section of Benefits page."
### Description

Hello, I am a GSSoc'22 participant. I noticed that the footer of the 'Benefits' page doesn't match with the footers of all the other pages throughout your website and the social media icons are overflowing out of the container. I would like to fix this issue, please assign the same to me.

### Screenshots

<img width="945" alt="ss5" src="https://user-images.githubusercontent.com/7

[2022-04-20 18:53] SauravMukherjee44 commented on #257
@dee-ksha Go for it!

[2022-04-22 16:44] SauravMukherjee44 opened #261 "Add FAQ section at the Footer of the Page."
### Description

Frequently asked questions and answers
![image](https://user-images.githubusercontent.com/72380920/164758225-f5174b1d-351e-42a2-b119-ff68365b6315.png)

### Screenshots

_No response_

[2022-04-22 16:47] SauravMukherjee44 opened #262 "Add Testimonials section about the feedbacks of community members."
### Description

![image](https://user-images.githubusercontent.com/72380920/164758705-5ed50fb7-5c0c-40f1-8970-a6068d091d58.png)

### Screenshots

_No response_

[2022-04-22 17:45] SHIKHACH22 commented on #261
I'd be glad to work on this issue. Do send me the FAQs to add.

[2022-04-22 18:06] #229 closed

[2022-04-22 18:07] #257 closed

[2022-04-23 13:48] #230 closed

[2022-04-24 10:28] jheel05 commented on #147
@Sukriti-m go for it

[2022-04-24 15:34] KiranAminPanjwani opened #265 "Adding more cards in the Opportunity Section."
### Description

I have noticed that there are very few cards available in the section. I want to add more cards.
@SauravMukherjee44 Kindly assign me this issue, Thank you!

### Screenshots

![image](https://user-images.githubusercontent.com/90326051/164984169-33ec6ebc-1d2c-407a-8f2d-eb206bcd21b6.png)

[2022-04-25 06:21] SHIKHACH22 commented on #261
So I've to add FAQs written in the above-mentioned picture?

[2022-04-25 07:06] YC-Kwan commented on #262
Hi there, I would like to try on this. May I know can assign this task to me?

[2022-04-25 16:03] jheel05 commented on #145
@AnweshaRoses sure

[2022-04-26 07:43] Ritika122001 opened #266 "Redesign of the Counter section [FEATURE] <description>"
### Description

Kindly assign this issue to me . Thank You.

### Screenshots

_No response_

[2022-04-29 06:08] #246 closed

[2022-04-29 06:15] SauravMukherjee44 commented on #266
@Ritika122001 Go for it!

[2022-04-29 07:05] Jyoti6828 opened #267 "Button Alignment is not proper in Events page"
### Description

#### For the cards on the events page, the button should be aligned in the middle.

### Screenshots

![image](https://user-images.githubusercontent.com/78480983/165897603-bf059b0c-872b-412d-9118-b8407800ea07.png)
![image](https://user-images.githubusercontent.com/78480983/165898366-f6929d67-5793-4779-b04f-fe56c59c8725.png)

[2022-04-29 07:06] Jyoti6828 commented on #267
I want to work on this issue under GSSOC'22. Kindly assign it to me.

[2022-04-29 16:45] aaryahjolia opened #269 "Align go to top and chat button at same height"
### Description

As seen in screenshot, both buttons are not aligned at same height, I want to remove this bug so that the website will look good.
I will also resolve conflicts in responsiveness also.

### Screenshots

![GSSoC](https://user-images.githubusercontent.com/82600388/165987937-2ad682ad-30c6-42ae-8fe4-32fe755a4dc7.png)

[2022-04-30 14:43] #265 closed

[2022-05-04 16:13] jheel05 commented on #267
@Jyoti6828 go for it

[2022-05-08 20:00] jheel05 opened #274 "[FEATURE] <let's add a previous successful events section!>"
### Description

Hello, Contributors, lets add a new section in the website to showcase the previous events or success stories!
keep it creative and catchy.

### Screenshots

_No response_

[2022-05-09 05:46] kusumita29 commented on #274
Hello @jheel05 ! I would like to work on this issue but as I am new to the CodeIN community, I don't have any information about the successful events conducted and the success stories.

From where can I access this information?

[2022-05-11 16:17] jheel05 commented on #274
@kusumita29 find it on discord channel!

[2022-05-12 11:11] jaison080 commented on #224
Shall I work on this and is there a team setup for this.

[2022-05-12 19:26] omkarguravv opened #275 "Home Page->Increase min-height of page"
### Description

change in page height

### Screenshots

_No response_

[2022-05-14 09:48] SHRUTI-SINGH16 commented on #149
I would like to work on this issue under GSSoC 2022. Please assign this issue to me.

[2022-05-14 09:50] SHRUTI-SINGH16 commented on #247
I would like to work on this issue under GSSoC 2022. Please assign this issue to me.

[2022-05-15 17:31] Yashashviarora opened #277 "Want to make a Temperature convertor fahrenite to celcius using html,css and js"
In this project there are two container first is for celsius and second for fahrenhite .We put a digit/number which we have to convert from one temperature to other it will show you a direct result

[2022-05-15 17:31] Yashashviarora commented on #277
/assign

[2022-05-15 18:22] nik132-eng commented on #184
if this issue is still open I want to work on this issue. can you please assign me this issue? for GSSoC

[2022-05-15 18:23] nik132-eng commented on #145
if this issue is still open I want to work on this issue. can you please assign me this issue? for GSSoC

[2022-05-15 23:59] AnweshaRoses commented on #145
Hi sorry for the delay, I had my end sems going on. Gimme around 5 days ill start working on it.

[2022-05-16 14:15] #277 closed

[2022-05-20 05:54] Khushi-Mattu opened #278 "Image error on sign in page"
### Description

![image](https://user-images.githubusercontent.com/82451914/169459928-384399f4-e047-4101-8f3d-222884200dfe.png)
This is what comes on the sign in page. This needs to be removed.
Kindly assign this issue to me.

### Screenshots

![image](https://user-images.githubusercontent.com/82451914/169460046-0aba446e-25d2-4385-9d52-9d855861214f.png)

[2022-05-20 05:55] Khushi-Mattu commented on #278
Kindly assign this issue to me

[2022-05-21 17:10] mayank-del commented on #110
@jheel05 can I work in this issue under gssoc22.

[2022-05-22 19:28] akritimangal commented on #262
Hi! I would like to work on this. I have previously created testimonial sections for various websites.

[2022-05-22 19:30] akritimangal commented on #267
i want to work on this issue. Kindly assign it to me.

[2022-05-22 19:38] akritimangal commented on #149
I would like to work on this. This issue is open until now so i guess it hasn't been resolved until now.

[2022-05-22 19:40] akritimangal commented on #146
i would like to work on this @jheel05

[2022-05-23 15:58] Adhetya commented on #274
I would like to work on this issue.Please assign it to me. I am a GSSOC 22 contributor

[2022-05-23 16:03] Adhetya opened #280 "Submit button text not visible"
### Description

The submit button text is not visible in footer. I am a GSSOC 22 contributor. Please assign this issue to me.

### Screenshots

<img width="1440" alt="Screenshot 2022-05-23 at 9 31 00 PM" src="https://user-images.githubusercontent.com/20537150/169860664-0993433d-f19a-4bbd-b89d-743feab0197e.png">

[2022-05-25 20:08] #269 closed

[2022-05-26 09:58] Sukriti-m commented on #147
I have made a PR. Please review it.

[2022-05-26 14:43] ruchichaurasia24 opened #282 "Want to improve contact us page."
Contact us page is not looking good like image is not visible, the word submit  written is not very clear. So, I want to improve that all. Can I work on this issue.

<img width="960" alt="Untitledcontact" src="https://user-images.githubusercontent.com/77578662/170511992-60866861-9cda-4e9c-a411-7e79805ea2bd.png">

[2022-05-29 04:56] SHIKHACH22 commented on #282
If this need better design only, assign me this

[2022-05-31 05:58] #280 closed

[2022-06-01 16:43] SauravMukherjee44 commented on #282
@ruchichaurasia24 Still Available for the issue?

[2022-06-01 16:43] #278 closed

[2022-06-01 16:50] #262 closed

[2022-07-04 06:03] geetanjaliverma opened #283 "[DOCS] <description>Contact us section"
### Description

Alignment of contact us section in benefit page

### Screenshots

<img width="942" alt="issue" src="https://user-images.githubusercontent.com/77534060/177091059-74fe7f89-9569-4807-852a-4c430fa8fe23.png">

[2022-07-09 14:32] Pranjal360Agarwal opened #284 "[FEATURE] <Designs of social media tags>"
### Description

Design of various social media pages should be in their original designs to attract the visitors to get connected with them easilly.

### Screenshots

_No response_

[2022-07-31 10:37] #282 closed

[2022-08-16 18:22] krupalitrivedi opened #288 "[DOCS] <Grammar Correction and Correction of the Format.>"
### Description

Hello :)

Here are some of the issues I could find and would like to work on:
- ReadMe file has adequate information but the formatting seems a bit odd, for example, 'Join our community on Discord' and 'Visit Our Website' do not look good together in the same heading format. It looks misplaced and ruins the overall look of the ReadMe.
- Similarly 'Contribution is Fun' can be place

[2022-08-16 18:28] SauravMukherjee44 commented on #288
@krupalitrivedi Assigned! Go for it. 🚀

[2022-08-20 07:11] #288 closed

[2022-09-05 20:32] yung-coder commented on #283
Is this project still active @geetanjaliverma

[2022-09-24 19:28] #267 closed

[2022-09-29 13:08] #261 closed

[2022-09-29 13:10] #184 closed

[2022-09-29 13:18] SauravMukherjee44 opened #294 "Design a Animated Video about CodeIN Community"
### Description

Design an Animated Video about CodeIN Community

### Screenshots

_No response_

[2022-09-29 13:20] SauravMukherjee44 opened #295 "Write and publish more blogs to the Blogs Page"
### Description

Write and publish more blogs to the Blogs Page

### Screenshots

_No response_

[2022-09-29 16:03] Shamik1836 commented on #295
Hi, I want to contribute more blogs, but can you please tell me blogs on which topics are allowed?

[2022-09-29 16:48] Ydvaaman commented on #295
yes I also want to contribute, please tells about the blog topics

[2022-09-29 16:49] Ydvaaman commented on #295
assign me

[2022-09-29 16:54] Ahnaf-codes commented on #283
assign me pls i can do it

[2022-09-29 17:03] kuraakhilesh8230 commented on #294
hello i want to work on this issue can you assign me and tell me how to do this pls? @SauravMukherjee44

[2022-09-29 17:24] Shamik1836 commented on #247
Is this issue still open, I would like to contribute

[2022-09-29 18:20] SauravMukherjee44 opened #296 "Make the Hacktoberfest.html page responsive"
### Description

Make the Hacktoberfest.html page responsive for Mobile

### Screenshots

_No response_

[2022-09-29 18:21] SauravMukherjee44 opened #297 "Use GitHub API to showcase all contributors on the website"
### Description

Use GitHub API to showcase all contributors on the website

### Screenshots

_No response_

[2022-09-29 18:23] SauravMukherjee44 opened #298 "Create Issues about the Features you want to add."
### Description

Create Issues about the Features you want to add.

### Screenshots

_No response_

[2022-09-29 18:56] Shivyoddha commented on #296
Hi @SauravMukherjee44 ,
Could you please assign me this issue?

[2022-09-29 20:56] georgioupanayiotis commented on #297
@SauravMukherjee44  can you please assign this to me?

[2022-09-29 20:59] georgioupanayiotis commented on #222
@vaishnavi2810-code  can you please assign this to me?

[2022-09-30 01:23] atul120212 commented on #295
Hi,
can you please assign it to me?

[2022-09-30 03:44] Sayak-singha commented on #134
I want to work on this issue

[2022-09-30 06:30] ampsteric commented on #297
Please assign me this issue under hacktoberfest. , if it is still open.

[2022-09-30 06:30] ampsteric commented on #284
hey! , I would be happy to help.
Please assign me this issue under hacktoberfest.

[2022-09-30 06:30] ampsteric commented on #283
hey! , I would be happy to help.
Please assign me this issue under hacktoberfest.

[2022-09-30 06:30] ampsteric commented on #275
hey! , I would be happy to help.
Please assign me this issue under hacktoberfest.

[2022-09-30 06:33] ampsteric commented on #220
Please assign me this issue under hacktoberfest. , if it is still open.

[2022-09-30 06:33] ampsteric commented on #183
Please assign me this issue under hacktoberfest. , if it is still open.

[2022-09-30 06:34] ampsteric commented on #149
Please assign me this issue under hacktoberfest. , if it is still open.

[2022-09-30 06:35] ampsteric commented on #146
Please assign me this issue under hacktoberfest. , if it is still open.

[2022-09-30 06:48] ampsteric opened #300 "Navigation Bar in Mobile View Hides Background content."
### Description

An ideal Navigation bar pushes the content below it as soon as it drops down, but this one in our website hides the content in the website.
I would be happy to help.
Please assign me this issue under hacktoberfest.

### Screenshots

![image](https://user-images.githubusercontent.com/56419358/193208043-e8e14710-bf0b-4919-8da2-f758f48c5d38.png)

[2022-09-30 06:52] ampsteric opened #301 "The Join Us button changes its size when some links are clicked in the navigation bar in Mobile View."
### Description

As you can see in the image attached that when the "FAQs" link is clicked, the size of the "Join Us" Button changes.

I would be happy to help.
Please assign me this issue under hacktoberfest.

### Screenshots

![image](https://user-images.githubusercontent.com/56419358/193208862-7a76f2b2-ae5a-48db-8269-145662d51e70.png)

[2022-09-30 06:57] sara184 commented on #296
Hey!! Can I also be assigned this issue?

[2022-09-30 07:15] codingkush commented on #220
@ampsteric bro i have already fixed this issue this but i haven't submitted because my pratical was going on and final sem exams are coming that's why I didn't submitted PR

[2022-09-30 07:19] codingkush commented on #220
@SauravMukherjee44 sorry for delay...i was very busy in pratical and examination so... i wasn't able to submit my PR

[2022-09-30 08:25] MayuriKolhe-2003 opened #302 "Responsivesness of blogs page"
### Description

Clicking on view all in blogs section opens the blog page. The blog items are not same in sized and are scattered which doesnt looks good . I want to fix this issue.

### Screenshots

![Screenshot (494)](https://user-images.githubusercontent.com/77161474/193226604-3af0699d-1bfd-44b8-809a-aa5e8db18c19.png)
![Screenshot (495)](https://user-images.githubusercontent.com/77161474/19322

[2022-09-30 08:26] MayuriKolhe-2003 commented on #266
Please assign this issee to me.

[2022-09-30 08:29] MayuriKolhe-2003 commented on #295
HI,
can you assign this to me ?

[2022-09-30 08:30] MayuriKolhe-2003 commented on #296
Hey ? I want to solve this issue .
Can you assign this to me .

[2022-09-30 10:24] Panda-Abhisek commented on #248
@SauravMukherjee44   I want to contribute to this project, but I need guidance.
Can you assign me?

[2022-09-30 10:43] Noothan-am commented on #302
hey @MayuriKolhe-2003, I am interested to solve this bug, I wanted the code of this website where can I find it?

[2022-09-30 10:48] amitanshusahu commented on #297
### I would like to work on this

### Request : -
<i> assign me the task so that i can start working on it </i> 😄

[2022-09-30 11:27] nandanpytech opened #303 "fixing bug in responsive design"
### Description

In home page (mobile view) , slightly showing up navigate to top button even covered by the another button.
see their difference in attached images

Plz assign me
And help me to fix it..

### Screenshots

![Screenshot (26)](https://user-images.githubusercontent.com/87522041/193259092-1567d877-3545-412e-9931-e6bf7966575d.png)
![arrow to top](https://user-images.githubusercontent.co

[2022-09-30 12:14] Anurag30112003 opened #304 "[FEATURE] Improve performance and SEO."
### Description

I would like to improve the performance and SEO of the site .

### Screenshots

![Screenshot (16)](https://user-images.githubusercontent.com/79055093/193267214-85dc82a5-9c6a-4149-bac5-60d1d079800f.png)

[2022-09-30 14:35] vish-han commented on #298
Hey @SauravMukherjee44  ! I would love to work on this issue. please elaborate on this issue just more.

[2022-09-30 14:48] LOKESHPRASAD12 commented on #294
Hey I have experience in making amazing animated videos can you please assign it to me?

[2022-09-30 14:59] LOKESHPRASAD12 opened #306 "The Discord logo disapper when moved curson on it."
### Description

The Discord logo disappear when moved the cursor on it due to being in white colour it gets mixed with the background.
In the join now button

### Screenshots

![issue1](https://user-images.githubusercontent.com/84654428/193298713-61e138d7-73e2-4bcd-b31d-32656c126300.jpg)

[2022-09-30 15:33] me-ayush commented on #306
i can solve that

[2022-09-30 16:11] AbhishekTiwari23 opened #307 "Upcoming events button"
### Description

We can add an upcoming event button just below the event section; whenever a user clicks on that, he will be redirected to subscribe button.

### Screenshots

_No response_

[2022-09-30 16:12] AbhishekTiwari23 commented on #307
Can u assing this issue to me?

[2022-09-30 16:18] AbhishekTiwari23 commented on #248
Can u assign it to me?

[2022-09-30 17:16] imyoungsparda commented on #306
I want to work on it under Hactoberfest, Please assign it to me.

[2022-09-30 17:24] SauravMukherjee44 commented on #306
@LOKESHPRASAD12 Go for it!

[2022-09-30 17:38] imyoungsparda opened #308 "Contact Navbar always active despite not in contact section"
### Description

In Hactoberfest 2022 page, Navbar link " Contact" remains active all the time despite not in contact section.
On refreshing, Navbar link "Blog" appears in active state.

### Screenshots

![image](https://user-images.githubusercontent.com/112796825/193325916-89c73ee0-ff1c-458b-a721-c0e5cc67c4dd.png)

[2022-09-30 17:57] theshook opened #309 "Make Image Responsive"
### Description

Make image responsive under `Our Events`

### Screenshots

![image](https://user-images.githubusercontent.com/33286537/193329162-87f60267-4724-4dfa-a98c-b4e03b0d8034.png)

[2022-09-30 17:59] theshook commented on #298
Hi @SauravMukherjee44 created an issue :)
https://github.com/SauravMukherjee44/CodeIN-Community-Website/issues/309

Hope it helps

[2022-09-30 19:23] Shivyoddha commented on #308
Hi @SauravMukherjee44 @imyoungsparda ,
Could you please assign this issue to me as a part of hacktoberfest

[2022-09-30 19:36] Jyotiraditya24 commented on #309
hey,can I work on this issue?

[2022-09-30 19:54] GodDrago commented on #309
Hey can i work on this issue .
i will use media query for the project to make it responsive for every potable device

[2022-09-30 21:32] emmydev9 opened #311 "External links should open on a new tab"
### Description

External links on the hacktoberfest2022 webpage opens on the current tab.
would be glad if you assign me this issue.

### Screenshots

![screensht](https://user-images.githubusercontent.com/66282950/193359085-90440903-6f54-430b-8054-076de8e3299f.png)

[2022-09-30 21:55] amajaying commented on #147
Hi @jheel05 !
Seems like this issue is not solved yet, please assign this to me. I want to work on it!

[2022-10-01 02:08] Anushan1508 commented on #295
yes I also like to contribute, May I know about that what are the topics you like to add?

[2022-10-01 02:52] Ahnaf-codes commented on #283
@SauravMukherjee44 assign me

[2022-10-01 03:23] Issiwara commented on #306
I like to participate Hactoberfest, Please assign me.

[2022-10-01 03:26] Issiwara commented on #296
I like to participate Hactoberfest, Please assign me.

[2022-10-01 03:44] gaurav-2-0-0-2 commented on #283
is anyone working on this ?

[2022-10-01 03:50] codelord09 commented on #311
please assign

[2022-10-01 04:27] rupeshexe commented on #311
May I have it?

[2022-10-01 04:36] rupeshexe opened #312 "Allign Elements"
### Description

Allign the String below youtube video and resize elements

### Screenshots

![image](https://user-images.githubusercontent.com/91791257/193392718-6bb9a815-bb28-485a-8a6f-595eb75e479d.png)

[2022-10-01 04:38] Ukesh-dev opened #313 "[Add Overlay] <Close the form pop-up by clicking outside the form>"
### Description

It would be quite easy and user-friendly to close the form popup by simply clicking outside rather than clicking the small button.

### Screenshots

![overlay](https://user-images.githubusercontent.com/63498317/193392800-71241506-5386-4c6a-8690-6c66dbef0435.jpg)

[2022-10-01 04:51] kevalsurani15 commented on #134
I would like to take this task

[2022-10-01 04:51] kevalsurani15 commented on #134
Can you assign me this task

[2022-10-01 04:54] NageshMandal opened #314 "[FEATURE] <Dark/Light Mode Button>"
### Description

Want to add a dark/light mode button in this website

### Screenshots

_No response_

[2022-10-01 04:54] ridhig16 commented on #295
hi can you please assign this to me

[2022-10-01 04:56] shivanshdubey-232 commented on #311
I want to work on it please assign

[2022-10-01 05:45] tanmay-S12 commented on #247
Hey, @SauravMukherjee44 it's a great feature to have, as after seeing word count it will help users be more precise on their message. I would like to work on it. Please assign it to me.

[2022-10-01 05:50] tanmay-S12 commented on #248
Hey, I recently learned it and would like to implement it here. Request you to please assign it to me .

[2022-10-01 06:19] Jyotiraditya24 opened #316 "[FEATURE] <BUTTON UI IMPROVEMENT>"
### Description

When we hover over the 2 buttons
1> Join Us
2>Hacktober Fest 2022

we can make the background of the button to "Pinkish Red"  which is used heavily used in the website and make the text white

it would improve the hover effect

### Screenshots

<img width="347" alt="Screenshot 2022-10-01 at 11 49 05 AM" src="https://user-images.githubusercontent.com/93746326/193395709-33f0c138-633

[2022-10-01 06:26] Anikalp1 opened #317 "[FEATURE] <I will be adding a scroll to top, button on web page>"
### Description

**_I want to add an scroll to top, button on web page._**

![Screenshot_20221001-115220_Chrome](https://user-images.githubusercontent.com/96365444/193395854-7767951f-fa9b-4a26-81e0-38106c0ae6f7.jpg)

**Note: An example screenshot is attached above.**

### Screenshots

_No response_

[2022-10-01 06:33] #317 closed

[2022-10-01 06:35] Anikalp1 opened #318 "Chat box option button is overlapping with scroll to top button."
### Description

**_Chat box option button is overlapping scroll to top button, I would like to fix this bug_**

![Screenshot_20221001-120306_Chrome](https://user-images.githubusercontent.com/96365444/193396212-9baf2805-8694-45b6-a6b6-a453bcb37cb6.jpg)

### Screenshots

_No response_

[2022-10-01 06:43] Jyotiraditya24 commented on #316
I would be happy to make the improvement if you would like too @SauravMukherjee44

[2022-10-01 07:13] code08-ind opened #319 "Animations On Scroll - Adding On The Website."
### Description

I can add the animations on scroll and on the various css animations.

### Screenshots

_No response_

[2022-10-01 07:15] AKACHI-4 commented on #248
Hey @SauravMukherjee44 i would like to contribute in this issue ..... Plz assign it to me

[2022-10-01 07:17] AKACHI-4 commented on #295
Hey @SauravMukherjee44 I want to work on this issue plz assign it to me

[2022-10-01 07:34] AKACHI-4 commented on #182
Hey @SauravMukherjee44 I would like to work on this issue kindly assign it to me

[2022-10-01 07:35] AKACHI-4 commented on #215
Hey @SauravMukherjee44 I want to work on this issue plz assign it to me

[2022-10-01 07:37] AKACHI-4 commented on #232
Hey @SauravMukherjee44 i would like to work on this issue plz assign it to me

[2022-10-01 07:38] AKACHI-4 commented on #147
Hey everyone can I work on this issue

[2022-10-01 07:39] AKACHI-4 commented on #88
Hey @SauravMukherjee44 I want to work on this issue plz assign it to me

[2022-10-01 07:40] AKACHI-4 commented on #96
Hey @SauravMukherjee44 I would like to work on this issue plz assign it to me

[2022-10-01 07:40] AKACHI-4 commented on #97
Hey @SauravMukherjee44 I Want to work on this issue plz assign it to me

[2022-10-01 07:41] AKACHI-4 commented on #98
Hey @Simran2337 can I work on this issue for this hacktober

[2022-10-01 07:42] AKACHI-4 commented on #98
Plz assign it to me

[2022-10-01 07:42] AKACHI-4 commented on #109
Hey @SauravMukherjee44 I want to work on this issue plz assign it to me

[2022-10-01 07:43] AKACHI-4 commented on #110
Hey @jheel05 I want to work on this issue under hacktober'22 can u assign it to me

[2022-10-01 07:46] AKACHI-4 commented on #112
Hey @jheel05 I would like to work on this issue kindly assign this issue to me

[2022-10-01 07:47] AKACHI-4 commented on #117
Hey @SauravMukherjee44 I would like to work on this issue under hacktober'22 kindly assign it to me

[2022-10-01 07:48] AKACHI-4 commented on #126
Hey @SauravMukherjee44 I want to work on this issue under hacktober'22 kindly assign it to me

[2022-10-01 08:23] SauravMukherjee44 commented on #319
@code08-ind Go for it!

[2022-10-01 08:24] SauravMukherjee44 commented on #318
@Anikalp1 Go for it!

[2022-10-01 08:24] SauravMukherjee44 commented on #314
@NageshMandal  Go for it!

[2022-10-01 08:26] SauravMukherjee44 commented on #294
@LOKESHPRASAD12 Go for it!

[2022-10-01 08:27] SauravMukherjee44 commented on #297
@amitanshusahu Go for it!

[2022-10-01 08:28] SauravMukherjee44 commented on #295
@atul120212 @MayuriKolhe-2003  Go for it!

[2022-10-01 08:33] #311 closed

[2022-10-01 08:43] PranavChaturvedi26 commented on #318
Hey, I want to work on this issue .
Kindly assign this to me.

[2022-10-01 08:44] #296 closed

[2022-10-01 08:44] PranavChaturvedi26 commented on #309
I will work on this issue. Kindly assign this to me.

[2022-10-01 08:48] SauravMukherjee44 opened #322 "Design a new preloader for CodeIN Community"
### Description

Design a new preloader CodeIN Community's theme

### Screenshots

_No response_

[2022-10-01 08:50] SauravMukherjee44 opened #323 "Create a section to feature our YouTube videos."
### Description

Feature our YouTube videos using youtube API.
Channel: https://www.youtube.com/c/SauravMukherjee44/videos

### Screenshots

_No response_

[2022-10-01 08:51] SauravMukherjee44 opened #324 "Add Discord channel on website using Discord API"
### Description

Add our Discord channel on the website using Discord API

### Screenshots

_No response_

[2022-10-01 08:52] janvikumariii commented on #248
If I could work on this issue, I would appreciate it.

[2022-10-01 08:52] SauravMukherjee44 opened #325 "Improve the FAQ section!"
### Description

Add more questions and answers.

### Screenshots

_No response_

[2022-10-01 09:09] LaLiLuLeLoPS commented on #309
Let me do it, I'll use dynamic measures instead of media queries so it displays right no matter what a screen size may be

[2022-10-01 09:22] PranavChaturvedi26 commented on #325
Where do I have to add FAQ Section, do I need to make a text File for questions?

[2022-10-01 09:27] Debabrata47 commented on #324
Hello Sir
I want to work on it
Please assign it to me

[2022-10-01 09:31] SamPrinceFranklin commented on #325
The FAQ Section of this site is not with fast animations which spoils the users view. Adding more dynamic animations to each sections will improvise the look.

[2022-10-01 09:31] code08-ind commented on #319
Ok, great

[2022-10-01 09:32] arpitbhadani commented on #319
Using css we can do it and add scroll to website

[2022-10-01 09:33] arpitbhadani commented on #314
We can add dark/light mode switch button usin CSS

[2022-10-01 09:34] Nainish-Rai commented on #323
Hey, I want to contribute to it. Can you explain the requirement?

[2022-10-01 09:34] code08-ind commented on #319
It is assigned to me, sorry you create some another issue.

[2022-10-01 09:36] SamPrinceFranklin opened #326 "Alignmnet Issue"
### Description

In the bellow mentioned pages,
[](https://codeincommunity.tech/hacktoberfest2022.html) the alignment of _**🏆 Follow our YouTube Tutorial to know all steps to Rock HacktoberFest 2022! 🥳**_ is not properly arranged. Making it in the right order will make the site look elegant. I would like to take up this task.

#hacktoberfest

### Screenshots

<img width="1030" alt="Screenshot 2022

[2022-10-01 09:37] Manoj-Routhu commented on #324
hey! , I would be happy to help.
Please assign me this issue under hacktoberfest

[2022-10-01 09:37] arpitbhadani commented on #275
I can do it please assign me this issue under hacktoberfest

[2022-10-01 09:38] arpitbhadani commented on #326
I can do that please assign me this under hacktoberfest.

[2022-10-01 09:39] PranavChaturvedi26 commented on #306
No its working fine

[2022-10-01 09:39] SoumikMondal01 commented on #275
Hello, I want to contribute in this issue. Can you please add me in this issue for hacktoberfest.

[2022-10-01 09:52] MayuriKolhe-2003 commented on #302
I solve this isssue as well as two other isssues. Please accept my pull request.

[2022-10-01 09:54] MayuriKolhe-2003 commented on #266
I solved this issue please accept it.

[2022-10-01 09:57] samyaksand commented on #325
Hello, Im interested in working on this. Please assign me this issue.

[2022-10-01 10:03] PranavChaturvedi26 commented on #325
@SamPrinceFranklin May I do changes in Hackobetfest2022.html and make a FAQ section ?

[2022-10-01 10:20] pranavgupta11 commented on #322
I would like to take this issue. Please assign it to me .

[2022-10-01 10:28] gitatractivo opened #329 "Our Blogs section is not properly sized in mobile view."
### Description

When changing resolution blogs are differently sized and spaced. And go to blog has uneven margins in first and later blogs.
I would like to fix this bug.

#321

### Screenshots

![image](https://user-images.githubusercontent.com/91304909/193404788-2ec15f5f-5abf-4ca0-ab3c-84828fb4718a.png)
The first blog is slighly broad than the later->
![image](https://user-images.githubusercont

[2022-10-01 10:49] harendrabhardwaj commented on #323
I want to contribute..

[2022-10-01 10:50] Aman-Singh-Kushwaha opened #330 "Improving NavBar Buttons Hover Effect"
### Description

![CodeIn_Community Bug](https://user-images.githubusercontent.com/96011814/193405961-ddc91464-84b4-4870-9a59-3a65abcfbd7d.gif)
This similar hover effect on buttons looks so weird
I can make different a hover effect for this

### Screenshots

![image](https://user-images.githubusercontent.com/96011814/193406055-b2d620aa-59af-4464-82ac-1253f8a25c4f.png)

[2022-10-01 11:21] TechGuySaad opened #331 "Making the contact us section at the end of the page central aligned"
### Description

I was scrolling the home page and at the end of the homepage, I discovered that the contact us portion was not in flow with the rest of the page. I am going to fix that and make it central aligned as the rest of the page is also center aligned. The icon should be above the text-boxes .

### Screen shots

![Screenshot from 2022-10-01 16-19-59](https://user-images.githubusercontent.

[2022-10-01 12:41] Anikalp1 commented on #318
@SauravMukherjee44 thank you, I will be raising PR for this very soon

[2022-10-01 12:57] SauravMukherjee44 commented on #325
@SamPrinceFranklin Work on the Home Page and @PranavChaturvedi26 Work on the Hacktoberfest page.

[2022-10-01 12:57] SauravMukherjee44 commented on #324
@Debabrata47 Go for it!

[2022-10-01 12:58] SauravMukherjee44 commented on #323
@Nainish-Rai Check out the description

[2022-10-01 12:59] SauravMukherjee44 commented on #330
@Aman-Singh-Kushwaha Go for it!

[2022-10-01 13:01] #306 closed

[2022-10-01 13:01] Nainish-Rai commented on #323
@SauravMukherjee44 Kindly assign me so that i can start working on it.

[2022-10-01 13:02] #222 closed

[2022-10-01 13:07] tushar54594 opened #333 "The Discord link is not working in the Benefits page"
### Description

* I was going through the website and found a bug.

* In the Benefits page, in the Mentors Guide and Support section, the discord link is not working. It is giving 404 not found error as shown below in the screenshot section.

* Also, in addition to fixing this, I will also add all the other links of the founder @SauravMukherjee44 like twitter, youtube, instagram and email in addi

[2022-10-01 13:13] AadityaNitin commented on #283
Hey @SauravMukherjee44 can you please assign this issue to me?

[2022-10-01 13:22] sanvisharma003 commented on #322
heyy.. i would love to work on this preloader.

[2022-10-01 13:40] TechGuySaad commented on #331
The issue was fixed by me. Already made the pull request. Looks better now.
![Screenshot from 2022-10-01 18-31-21](https://user-images.githubusercontent.com/81616266/193412279-78b87b26-0e2f-43ab-bddd-213014a4feb8.jpg)

[2022-10-01 14:04] Jyotiraditya24 commented on #330
@Aman-Singh-Kushwaha if completed could you share the progress

[2022-10-01 14:19] MayuriKolhe-2003 commented on #329
It is the hover effect clicking on blog item make it scale . Otherwise blog item  sizes are same.

[2022-10-01 14:34] pradoshsahoo commented on #330
@Aman-Singh-Kushwaha can is solve it

[2022-10-01 14:35] Ishika-jain commented on #326
can you assign this task to me?

[2022-10-01 14:36] HamnaSiddiqui commented on #330
I want to contribute for this issue

[2022-10-01 14:39] tanmay-S12 opened #337 "Enhance the live chat button UI"
### Description

There is a symbol on the live chat button. It would be great if we change the design of that button for more user engagement and quick understanding for new users.  I can upgrade it like this according to colour theme of website-
before-

![image](https://user-images.githubusercontent.com/91389250/193414203-f7b74488-e56d-46d1-91c6-f5c80f6021fb.png)

After-
![need help](https://use

[2022-10-01 14:48] MayuriKolhe-2003 commented on #329
This is not the bug it is the hover effect. Clicking on card make it scale a little otherwise it is all same.

This is scrrenshot of blogs page looking cards size same.
<img src="https://user-images.githubusercontent.com/77161474/193414895-314f1f5b-9fb9-4e9d-b2ea-06bb8a22809f.jpeg" data-canonical-src="https://user-images.githubusercontent.com/77161474/193414895-314f1f5b-9fb9-4e9d-b2ea-06bb8a22809f

[2022-10-01 14:49] Aman-Singh-Kushwaha commented on #330
Yes i am working on it

[2022-10-01 15:10] SauravMukherjee44 commented on #333
@tushar54594 GO for it!

[2022-10-01 15:13] Shivyoddha opened #339 "Image sizes of Cards in Opportunity Section are not same"
### Description

The Image size of one of the cards in Opportunity Section is different from the other two.

### Screenshots

![image](https://user-images.githubusercontent.com/97729353/193415920-2aac1ee5-f521-475c-921f-02ee173b7152.png)

[2022-10-01 15:13] Shivyoddha commented on #339
Hi @SauravMukherjee44 ,
Could you please assign me this issue?

[2022-10-01 15:20] AKACHI-4 opened #340 "Subscribing box issue in WebSite footer!!"
### Description

Hey everyone, I got an issue with the footer.
Where the **subscriber box** is showing _successfully subscribed_ and you only need to click submit button no need to fill email there.
According to me, the Right response should be to show a well-defined message if you will not put the email there.

plz, assign it to me under Hacktober 22  so I can work on it.

### Screenshots

![Capt

[2022-10-01 15:21] AnubhavChakrabortynits commented on #339
I want to contribute to this issue

[2022-10-01 15:31] AKACHI-4 opened #341 "Correct hover effect on Navbar!!"
### Description

Hey Everyone, In this issue, I would like to put in your concern that when we hover into **Join Us**  and **Hacktober Fest 22** in Navbar so it is displaying underline at the bottom of the text. but It should not be there as Box to display that text is already there.

### Screenshots

![Capture1](https://user-images.githubusercontent.com/99159580/193416563-39d06e75-0b96-492c-a2df-

[2022-10-01 15:34] sanvi0071 commented on #325
I want to add questions&answers to FAQ section.

[2022-10-01 15:35] AmiteshPatra commented on #333
Ive already fixed it here : []()https://github.com/SauravMukherjee44/CodeIN-Community-Website/pull/338 Do check out and merge.

[2022-10-01 15:38] tushar54594 commented on #333
@AmiteshPatra I am actually adding all the social media handles of Saurav like twitter, youtube, github etc so my issue is different from yours.

[2022-10-01 15:48] amitanshusahu commented on #297
### @SauravMukherjee44  , where should i place it

-  should i make a dedicated section for it ...

[2022-10-01 16:07] #337 closed

[2022-10-01 16:24] ppap1771 commented on #325
Hey can i work on this issue?

[2022-10-01 16:32] 17Moons commented on #341
i will be able to correct this, assign me the task

[2022-10-01 16:40] Jyotiraditya24 commented on #329
@SauravMukherjee44 I and @gitatractivo are working on it can you make me the co-author too?

[2022-10-01 16:41] AyushJain001 opened #343 "Sponser button not working ."
### Description

Upon clicking on  sponser button , it is not redirecting.
I would be happy working on it. kindly assign this to me under hacktoberfest tag

### Screenshots

<img width="826" alt="image" src="https://user-images.githubusercontent.com/90152799/193419506-f109edd7-cb5c-4f05-9629-633668ba7948.png">

[2022-10-01 16:42] LaLiLuLeLoPS opened #344 "Search bar is misaligned"
### Description

The search bar in the blog section seems to be misaligned to the left instead of being centred like the rest of the content on the page.

Please assign this issue to me so that I may fix it.

Also if you could add the hacktoberfest tag then it would be great :)

### Screenshots

![image](https://user-images.githubusercontent.com/21278937/193419476-8e0bca07-7e44-4765-9676-b85b8cc3a

[2022-10-01 16:49] AyushJain001 opened #345 "Adding Mentors section same as team members"
### Description

Adding mentor section and add mentors details as it is missing from quite long time since mentors being allocated.
I would be happy working on adding mentors section and add their details .

### Screenshots

_No response_

[2022-10-01 16:50] LaLiLuLeLoPS opened #346 "C"
### Description

The arrow of the scroll to top button (bottom right corner of page) seems to be unusually short and misaligned on the main page while it displays correctly on the blog page.

I have attached screenshots of both for reference.

I would like to fix this. Please assign it with the hacktoberfest label too if possible :)

### Screenshots

![image](https://user-images.githubusercontent.

[2022-10-01 16:50] AyushJain001 commented on #325
I would be happy making changes to FAQ and make more user friendly. Feel free to assign me incase of delay.

[2022-10-01 17:26] SumitKanth opened #348 "Navbar HacktoberFest2022 li"
### Description

In Navbar, HacktoberFest2022 li is going outside of page in medium devices. I will do it responsive so that it can be visible properly.

### Screenshots

![Screenshot (537)](https://user-images.githubusercontent.com/90907720/193421040-a7ea7fb4-b92f-410e-962a-fb5b0776a260.png)

[2022-10-01 17:51] AyushJain001 opened #350 "Telegram button not working properly"
### Description

Upon clicking on telegram button it is not redirecting to different tab instead opening on similar tab. I wanted to work on this issue. Kindly assign me this.

### Screenshots

<img width="865" alt="image" src="https://user-images.githubusercontent.com/90152799/193421914-0e8c5eb2-8383-4a74-ae3e-7fa6a511a124.png">

[2022-10-01 18:04] minhaj-313 commented on #348
I want to contribute in this Project Could you please assign me

[2022-10-01 18:04] arshbhatia8 commented on #333
I would like to contribute @SauravMukherjee44

[2022-10-01 18:06] tushar54594 commented on #333
Hi @arshbhatia8 I have already resolved the issue and submitted the PR. You can work on some other issue.

[2022-10-01 18:24] prar-123 commented on #323
Hey! I want to work on this issue kindly assign me

[2022-10-01 18:34] i-ujjwaljha opened #352 "Navbar: Making it less dense"
### Description

The navigation bar looks a little too cluttered with a lot of options provided there. I can make the Navbar look more organised along with the breathing space for the options provided over there

### Screenshots

_No response_

[2022-10-01 18:35] i-ujjwaljha commented on #352
Can you please assign me to work on this issue?

[2022-10-01 18:43] Aliksarkar18 commented on #333
I can fix the problem @SauravMukherjee44

[2022-10-01 18:44] tushar54594 commented on #333
@Aliksarkar18 I already fixed it and submitted the PR. You can work on some other issues

[2022-10-01 18:47] tushar54594 commented on #333
@SauravMukherjee44 I fixed the issue and submitted the PR. Please look into it
https://github.com/SauravMukherjee44/CodeIN-Community-Website/pull/349

[2022-10-01 18:49] Aliksarkar18 commented on #333
Ok @tushar54594 😅

[2022-10-01 18:51] Aliksarkar18 commented on #330
I want to working this problem

[2022-10-01 19:07] #333 closed

[2022-10-01 19:10] #308 closed

[2022-10-01 19:16] SauravMukherjee44 commented on #348
@SumitKanth Go for it!

[2022-10-01 19:55] SauravMukherjee44 commented on #352
@i-ujjwaljha Go for it!

[2022-10-01 19:56] SauravMukherjee44 commented on #350
@AyushJain001 Go for it!

[2022-10-01 19:58] SauravMukherjee44 commented on #343
@AyushJain001 Go for it!

[2022-10-01 19:58] AyushJain001 commented on #350
Thanks @SauravMukherjee44 will be submitting PR asap.

[2022-10-01 20:00] SauravMukherjee44 commented on #340
@AKACHI-4 Go for it!

[2022-10-01 20:01] SauravMukherjee44 commented on #326
@Ishika-jain Go for it!

[2022-10-01 20:02] SauravMukherjee44 commented on #322
@sanvisharma003 Go for it!

[2022-10-01 20:05] arpitbhadani1 commented on #312
Can u please assign me the task under hactoberfest

[2022-10-01 20:11] gitatractivo commented on #329
When you change the responsive page to 360px eg here in samsung s20 ultra screen
The content and Go to blog is going out of the card

![image](https://user-images.githubusercontent.com/91304909/193426625-4bf5904e-338d-426f-ae2b-942c3692b83c.png)

[2022-10-01 20:46] #329 closed

[2022-10-01 21:36] SauravMukherjee44 opened #356 "Make sponsor section responsive on all pages!"
### Description

Make the sponsor section responsive for mobile on all pages!

### Screenshots

_No response_

[2022-10-01 21:37] SauravMukherjee44 opened #357 "Add your testimonial about the community"
### Description

Add your testimonial about the community

### Screenshots

_No response_

[2022-10-01 21:38] SauravMukherjee44 opened #358 "[FEATURE] Add more opportunities on opportunities.html page"
### Description

Take opportunities posted on our discord server channels!

### Screenshots

_No response_

[2022-10-01 21:39] #344 closed

[2022-10-01 22:13] shaurya5 commented on #356
I can work on this issue

[2022-10-01 22:22] iamHrithikRaj commented on #357
hi there, I'd like to work on this

[2022-10-01 23:22] arthurmatthew commented on #358
Could I be assigned to this issue? I'd be happy to work on it.

[2022-10-01 23:41] Aman-Singh-Kushwaha commented on #341
I was also working on same issue earlier #330

[2022-10-01 23:50] Aman-Singh-Kushwaha opened #360 "[FEATURE] Adding a Hover Effect each on Section's Tagline"
### Description

![image](https://user-images.githubusercontent.com/96011814/193432148-32c1c768-e59b-4dd2-82f7-1bc01edabd6a.png)

Like in Section, If we could add hover effect over text so that red underline expands out & in.

This will enhance user interaction, and also it doesn't slow down site.

Let us work if you like

### Screenshots

![image](https://user-images.githubusercontent.com/9601181

[2022-10-02 00:01] AKACHI-4 commented on #341
I am working on this issue and soon I will generate PR for the same

[2022-10-02 00:01] AKACHI-4 commented on #340
Okay

[2022-10-02 00:27] Aman-Singh-Kushwaha commented on #341
I have already raise PR #359

[2022-10-02 00:29] AKACHI-4 commented on #341
Okay no problem go for it

[2022-10-02 00:49] ishani-1255 commented on #360
I would love to work on it . Can you assign this issue to me .

[2022-10-02 02:26] AKACHI-4 commented on #356
Assign me I am going to work on this

[2022-10-02 02:34] Dimple-Choudhary commented on #357
I would like to  work on this @SauravMukherjee44 . Can you please assign this to me

[2022-10-02 02:54] siya-pathak commented on #358
I'd love to work on it. Please consider assigning me to this!

[2022-10-02 03:28] SumitKanth commented on #348
@SauravMukherjee44 thanks

[2022-10-02 03:34] amitanshusahu commented on #297
@SauravMukherjee44  , i request you to answer this so that i can make my contribution...

Where should i place all the contributors on the website , A new section or the footer or a dedicated page ??

[2022-10-02 03:49] Ishika-jain commented on #326
@SamPrinceFranklin the issue has been fixed in code

[2022-10-02 03:52] imyoungsparda opened #366 "Sponsor nav link in hactoberfest page is not working."
### Description

Upon clicking the sponsor link in navbar in Hacktoberfest page, it doesn't redirect to the sponsors section.

### Screenshots

![image](https://user-images.githubusercontent.com/112796825/193437049-514117b3-5fd1-4988-9f79-3dd87be1b5df.png)
 Sponsors link doesn't response to click. Not working

[2022-10-02 03:52] imyoungsparda commented on #366
Please assign it to me @SauravMukherjee44 , I will work on it.

[2022-10-02 03:58] rohitturkar commented on #350
Please assign it to me, I will work on it.

[2022-10-02 04:00] rohitturkar commented on #358
Please assign it to me, I would love to work on it

[2022-10-02 04:06] debjitpurohit commented on #358
I am a hacktoberfest 2022 participant. Can u assing this to me??

[2022-10-02 04:06] debjitpurohit commented on #356
I am a hacktoberfest 2022 participant. Can u assing this to me??

[2022-10-02 04:09] debjitpurohit commented on #316
I am a hacktoberfest 2022 participant. Can u assign this to me??

[2022-10-02 04:10] debjitpurohit commented on #323
I am a hacktoberfest 2022 participant. Can u assing this to me??

[2022-10-02 04:13] AKACHI-4 commented on #358
Hey @SauravMukherjee44 I want to work on this issue kindly assign it to me under Hacktober Fest'22

[2022-10-02 04:27] AyushJain001 commented on #356
This issue has assigned to me and I am working on that

[2022-10-02 04:35] front-runner-sd opened #369 "Some UI improvement is needed in the Hacktoberfest2022.html"
### Description

I've noticed some UI irregularities , The screenshots are attached below.

### Screenshots

![image](https://user-images.githubusercontent.com/91823106/193517994-e100087f-956f-493e-b139-2334a0a39323.png)
![image](https://user-images.githubusercontent.com/91823106/193518009-efccf029-50bd-4f7d-9124-cdd3d1d57456.png)
![image](https://user-images.githubusercontent.com/91823106/1935180

[2022-10-02 04:36] front-runner-sd commented on #369
Can I work in this issue?

[2022-10-02 04:42] sksahil028 commented on #358
Please assign it to me, I would like to do that.

[2022-10-02 05:12] ankittt20 opened #374 "Improve CSS in Blogs Section"
### Description

Want to improve the spacing and styling in the blogs section as it looks very scattered right now.

### Screenshots

https://user-images.githubusercontent.com/92395053/193438920-116f0b59-7116-4de8-b6f0-c11b754c95c5.mp4

[2022-10-02 05:20] LordMahir commented on #350
Hey , I can help finish the process faster. Can you please assign it to me?

[2022-10-02 05:25] Jyotiraditya24 opened #375 "[FEATURE] <Removing rounded bottom Images>"
### Description

removing the rounded bottom images in OPPORTUNITY section
I would like to work on this ,if you approve

### Screenshots

<img width="1281" alt="Screenshot 2022-10-02 at 10 53 11 AM" src="https://user-images.githubusercontent.com/93746326/193439285-bb4b6f25-aecb-447a-86d8-077ec752315c.png">

[2022-10-02 05:25] Aman-Singh-Kushwaha commented on #360
I am working on this

[2022-10-02 05:26] AyushJain001 commented on #350
@LordMahir I am working on this issue . Try different one.

[2022-10-02 05:35] ishani-1255 commented on #360
Okay 🙂

[2022-10-02 06:04] 17Moons opened #378 "unused space"
### Description

on the website at the top there is about 20% space unused in the ledt of the div. I can align the div and also impore the UI of the navbar

### Screenshots

![image](https://user-images.githubusercontent.com/92429890/193440382-bbab33a0-16e3-4366-9f55-7d8fae76f141.png)

[2022-10-02 06:27] aharna commented on #358
hey! I would love to work on this issue. Please assign it to me

[2022-10-02 06:28] aharna commented on #357
I would love to work on this issue! please assign it to me

[2022-10-02 06:28] aharna commented on #323
Hello! I would like to work on this issue. please assign it to me.

[2022-10-02 06:39] LaLiLuLeLoPS opened #379 "Chat issue button moves to the right and overlaps with the scroll to top button in mobile view"
### Description

There is an issue where the chat button moves to the extreme right side and overlaps with the scroll to top button.
Screenshot attached for reference.

I will move the button back to the left side and stop the overlap.

Please assign this issue to me and I will fix it.

### Screenshots

![image](https://user-images.githubusercontent.com/21278937/193441500-6e85f1f1-0ff3-4434-b126-b

[2022-10-02 06:44] gaurav-2-0-0-2 opened #380 "Button hover problem in mobile dimensions"
### Description

So there is this issue when we see the website in smart phone, the join us and hacktoberfest button in navbar, as we hover them
the button expands horizontally also the hover underline on text.

### Screenshots

![Hacktober2](https://user-images.githubusercontent.com/98230369/193441625-310c73a2-5656-4a12-b258-39ed9fc418b6.png)
![hacktober](https://user-images.githubusercontent.com

[2022-10-02 06:46] SauravMukherjee44 commented on #357
@Dimple-Choudhary

[2022-10-02 06:46] SauravMukherjee44 commented on #357
@Dimple-Choudhary @aharna @iamHrithikRaj All of you can create a PR and add your testimonials

[2022-10-02 06:46] gaurav-2-0-0-2 commented on #380
@SauravMukherjee44 if you allow I would like to work on this issue.

[2022-10-02 06:51] #348 closed

[2022-10-02 07:06] SauravMukherjee44 commented on #356
@debjitpurohit Go for it!

[2022-10-02 07:07] SauravMukherjee44 commented on #378
@17Moons Go for it!

[2022-10-02 07:08] SauravMukherjee44 opened #381 "Change the Theme of the Website from Pink to Yellow"
### Description

Change the Theme of the Website from Pink to Yellow according to CodeIN's LOGO

### Screenshots

_No response_

[2022-10-02 07:10] ishita-kundi04 commented on #323
Hi! I would like to work upon this issue, I have experience using APIs . I think I can fulfill the above requirement. Can you assign this to me?

[2022-10-02 07:11] 17Moons commented on #341
i have done this task , make this issue closed and merge my PR there are no conflicts

[2022-10-02 07:12] ishita-kundi04 commented on #283
Hi! The contact section alignment + color combinations could be made more better. I would like to work upon this and make it better. Can you please assign this issue to me ?

[2022-10-02 07:14] SumitKanth opened #383 "Footer"
### Description

In footer the submit button is touching the email input in medium devices which is not a good user experience. I will add code to give some margin so it can look good.

Can you plz assign me ?

### Screenshots

![Screenshot (543)](https://user-images.githubusercontent.com/90907720/193442569-91e37306-d439-47b7-9d2c-2b356414f8b1.png)

[2022-10-02 07:24] shivam-bhadani commented on #381
I want to work on it please assign me this issue

[2022-10-02 07:24] Agrimaagrawal commented on #381
I want to work on this
Please assign me this

[2022-10-02 07:31] Mahak008 opened #386 "On click animation of Join Us and Hacktoberfest2022 button."
### Description

While clicking on the 2 buttons, css effects hides the names of the buttons.

### Screenshots

_No response_

[2022-10-02 07:39] tmsagarofficial commented on #381
pls considering assigning this issue to me

[2022-10-02 07:49] SauravMukherjee44 commented on #381
@shivam-bhadani @Agrimaagrawal  You also need to design UI elements according to the theme. Ready for that?

[2022-10-02 07:53] janvikumariii opened #387 "Telegram Group Button not working!"
### Description

Upon clicking on telegram icon, it doesn't redirect to your telegram group instead shows the screenshot attached below. Rest of the social media handles are working properly.

### Screenshots

![image](https://user-images.githubusercontent.com/45655693/193443854-4873c196-31ff-4151-8ff9-048f016449f0.png)

[2022-10-02 08:05] janvikumariii commented on #298
@SauravMukherjee44 created issue#387.
Please have a look.

[2022-10-02 08:06] Shivyoddha commented on #387
Hi @SauravMukherjee44 ,
Could you please assign me this issue?

[2022-10-02 08:11] Aman-Singh-Kushwaha commented on #341
@17Moons  i have sent PR earlier you can check and even raised issue earlier check #359 , @SauravMukherjee44  please solve this conflict

[2022-10-02 08:16] imyoungsparda commented on #381
How to convert those illustrations in yellow color? From where i can get yellow illustrations?

[2022-10-02 08:28] Maykkkk commented on #283
I can help you in this please assign this issue to me.

[2022-10-02 08:30] NayanDeshmukh2001 commented on #358
working already on it ,request you to assign to me 🙃

[2022-10-02 08:36] Agrimaagrawal commented on #381
Sorry , I dont know how to design UI element

[2022-10-02 08:38] punarduttrajput commented on #248
I would like to work on this issue.
So @SauravMukherjee44 plz! assign it to me.

[2022-10-02 08:47] NayanDeshmukh2001 commented on #378
already working on it would like work on it😀

[2022-10-02 08:56] #341 closed

[2022-10-02 08:57] AKACHI-4 commented on #341
So as @Aman-Singh-Kushwaha has done it earlier so don't need to work on this issue for more details you can check his PR on the same issue

[2022-10-02 08:59] AyushJain001 commented on #358
Hey, I have recently got to know many opportunities in coming future and that can be added here. You may assign this to me as well.

[2022-10-02 09:04] AyushJain001 commented on #357
I too wanted to add mine. May I go ahead? @SauravMukherjee44

[2022-10-02 09:12] amanmodiii commented on #378
I would like to work on it.

[2022-10-02 09:14] aksharma27 commented on #387
No, its working on my system.

[2022-10-02 09:33] tanmay-S12 opened #390 ""sponsors" button isn't responding"
### Description

the sponsors button is not responding. After clicking on it , It should show the sponsors but no response is there. I can fix this issue.
Before clicking on "sponsors" button.
![image](https://user-images.githubusercontent.com/91389250/193447526-8e91cc4b-d6d3-48aa-bdca-b52535192c8b.png)
After clicking on " sponsors" button.
![image](https://user-images.githubusercontent.com/913892

[2022-10-02 09:47] aharna commented on #358
I would love to work on this! assign me please.

[2022-10-02 10:20] kritiag20 commented on #374
Hi @ankittt20 I want to work on this issue please assign it to me.

[2022-10-02 10:43] SauravMukherjee44 commented on #357
@AyushJain001 Sure!

[2022-10-02 10:47] tanishg5 commented on #381
i want to work on this please can you assign me .

[2022-10-02 11:02] #248 closed

[2022-10-02 11:03] #366 closed

[2022-10-02 11:09] reedamchoudhary commented on #390
I want to contribute to this issue

[2022-10-02 11:09] AyushJain001 commented on #390
Hey, I have raised this issue earlier and resolved it.

[2022-10-02 11:15] #380 closed

[2022-10-02 11:19] #356 closed

[2022-10-02 11:29] sooraj-gk commented on #381
Can You Assign Me?

[2022-10-02 11:29] #295 closed

[2022-10-02 11:30] ampsteric commented on #275
@arpitbhadani @SoumikMondal01 I am working on it , please wait for further updates.

[2022-10-02 11:31] #383 closed

[2022-10-02 11:33] #360 closed

[2022-10-02 11:38] #339 closed

[2022-10-02 12:00] coder-harsh opened #395 "Social share button feature in hacktoberfest2022 page"
### Description

Hey, I want to add a social share button feature to the Hacktoberfest2022 page so that anyone can share the project page for contribution directly from the page. the button will be responsive with minimal animations.

**Social share button list**

- Whatsapp
- Telegram
- Email
- Linkedin
- Twitter
- Facebook

### Library used
sharethis.com

### 🔸Screenshot

![hacktoberfest-socials

[2022-10-02 12:18] SauravMukherjee44 commented on #395
@coder-harsh Go for it! Do add it on other pages too!

[2022-10-02 14:09] Alam9835 commented on #395
Hey,i want to work on this issue.

[2022-10-02 14:12] Dimple-Choudhary commented on #381
I would like to work on this issue @SauravMukherjee44 Please assign me this issue

[2022-10-02 14:16] OmPrakashSahoo-05 commented on #381
@SauravMukherjee44 willing to contribute on this eagerly

[2022-10-02 14:54] #358 closed

[2022-10-02 16:00] Hypertext-Workaholics commented on #357
Hey! I wanted to add mine testimonial . Please assign it to me @SauravMukherjee44 ?

[2022-10-02 16:06] ManashAnand commented on #374
Hi @ankittt20   I can fix that issue please assign it to me

[2022-10-02 16:08] Prajwalgupta opened #402 "Opportunity button not working"
### Description

Opportunity button in quick link is not working. I will make it work please assign it to me...

### Screenshots

![CodeIN Community _ Hacktoberfest 2022 - Google Chrome 02-10-2022 21_36_15](https://user-images.githubusercontent.com/92562327/193464232-d859a594-b080-453c-933f-2781e82d01f9.png)

[2022-10-02 16:22] SoumikMondal01 commented on #275
Ok @ampsteric

[2022-10-02 16:33] SahilSingh177 commented on #283
Please Assign me this.

[2022-10-02 16:47] imyoungsparda commented on #381
![Marketing-pana](https://user-images.githubusercontent.com/112796825/193465920-e7c4e98c-0b26-4c31-9a05-97b6a9f8b169.png)
please have a look, Will this illustration look good on front home section?

[2022-10-02 19:10] #390 closed

[2022-10-02 19:11] #357 closed

[2022-10-02 19:45] ranjeet25 opened #410 "Small ui changes in cards of oppurtunity_section and blogs"
### Description

I have noticed that the shadow of cards in the **oppurtunity_section** is strong and does not go with others.
In mobile view big **border-radius** needs to be changed.
Also in some **mobile views**, there is no **margin-right**.
Similar changes needs in **Blogs card**
Assign me this issue so that I can do further changes :!!

### Screenshots

Before:
![image](https://user-images.g

[2022-10-02 19:48] SauravMukherjee44 commented on #386
@Mahak008

[2022-10-02 19:50] SauravMukherjee44 commented on #369
Go for it!

[2022-10-02 19:51] SauravMukherjee44 commented on #379
@LaLiLuLeLoPS

[2022-10-02 20:44] LaLiLuLeLoPS commented on #379
Thanks @SauravMukherjee44, will work on this, could you also add the hacktoberfest tag please?

[2022-10-02 21:12] Dilhan9 opened #411 "Is the Number Even or Odd?"
### Description

hacktomberfest

### Screenshots

_No response_

[2022-10-02 21:12] #411 closed

[2022-10-03 00:20] OmPrakashSahoo-05 commented on #323
heyy!! I have created a section as per description and created a pull request #412
kindly assign it to me @SauravMukherjee44

[2022-10-03 03:10] Ishika-jain commented on #326
Hey could I get hacktober completed for this?

[2022-10-03 03:52] sanvisharma003 commented on #322
can you send me the current preloader of the community so that i could start working?
i cant find one.

[2022-10-03 06:29] NageshMandal commented on #314
I Added This Dark Mode Button But ! it is not working could you please help me
![03 10 2022_11 42 50_REC](https://user-images.githubusercontent.com/106006006/193513351-4b563633-ee73-4cde-9988-9c9a3a583217.png)

![03 10 2022_11 42 20_REC](https://user-images.githubusercontent.com/106006006/193513244-ae0292c4-4ceb-482a-87f3-5aa455b75a46.png)
![03 10 2022_11 43 22_REC](https://user-images.githubuserc

[2022-10-03 07:01] front-runner-sd commented on #369
All of the previous issues that i've identified are fixed by the update 1.2.2 . I am updating this issue with some new ui irregularities that i've noticed.

[2022-10-03 08:37] roy2pushkar opened #422 "Add toggle arrow button in Testimonials section ."
### Description

If we add forward and backward toggle arrow button in "Testimonials " at position " What does the community have to say  about us? " section . I think it works good because in timer feature not easy to read about community in less time .  so @SauravMukherjee44 bhaiya If you like this idea please assign me this work .

### Screenshots

![WhatsApp Image 2022-10-03 at 1 59 06 PM](htt

[2022-10-03 09:04] SpywarePersues opened #423 "The Event Section's Images are stretched and not looking good."
### Description

In the event's section of the website the event's images are stretched which makes it looks not good.

### Screenshots

![image](https://user-images.githubusercontent.com/97043346/193540210-4ed2c32f-9a8f-4454-b203-300d71bef513.png)

[2022-10-03 11:50] NateNear opened #427 "Adding hover option on the floating icon."
### Description

I noticed that there is no hover animation on one of your floating icon. Please allow me to contribute to this website by adding the hover animation to the floating icon.

### Screenshots

![issue1](https://user-images.githubusercontent.com/92938055/193570050-ae4ecd13-21e0-464d-9c6e-9404c9d479f5.PNG)

[2022-10-03 13:09] ArpitPatni commented on #423
Hi @SauravMukherjee44
Could you please assign this to me?
I want to work on it.

[2022-10-03 14:08] ArpitPatni commented on #423
![Screenshot 2022-10-03 193648](https://user-images.githubusercontent.com/69803396/193598139-fa3f3929-3f34-4bbe-8eba-ac76c6cdb35b.png)
This is how it is looking if we use the
` width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;`

[2022-10-03 14:42] uday03meh commented on #423
Hi, Can someone assign this to me?

[2022-10-03 15:51] imyoungsparda commented on #381
I have already done it @GazalBandil , Please check PR #418. If you can suggest something on it, Please do so. 🤗

[2022-10-03 17:39] #330 closed

[2022-10-03 17:41] #395 closed

[2022-10-03 17:42] #374 closed

[2022-10-03 17:48] SauravMukherjee44 commented on #422
Go for it!

[2022-10-03 18:15] coder-harsh opened #434 "adding sitemap.xml for better crawling by google"
### Description

I will add a sitemap.xml file for codeincommunity website so that google can crawl it easily and Index it better.

please assign me this issue as I m working on it and it will help google for SEO purposes

### Screenshots

_No response_

[2022-10-03 18:22] Jyotiraditya24 commented on #423
hey ,the problem is with the image and not with css , we can use better image for the website

[2022-10-03 19:42] ankittt20 opened #436 "Correct Navbar spacing between Opportunity and Blogs"
### Description

Navbar spacing between Opportunity and Blogs is not right.

### Screenshots

![Screenshot (4)](https://user-images.githubusercontent.com/92395053/193664589-279b1f7e-8c6e-4444-84a2-0241548bc3da.png)

[2022-10-03 19:55] ankittt20 opened #437 "Watermark on image in contact us section"
### Description

There is watermark of pngtree in the image used in the contact us section. Instead we can use the image without any watermark.

### Screenshots

![Screenshot (5)](https://user-images.githubusercontent.com/92395053/193666925-e63d773e-cf04-4c38-8381-98cb06ea6922.png)
![Contact Us](https://user-images.githubusercontent.com/92395053/193666998-13d39aed-b0a2-40d0-a61d-ee5a5f1ad041.png)

[2022-10-03 20:19] #369 closed

[2022-10-03 20:30] #275 closed

[2022-10-03 20:33] SauravMukherjee44 commented on #410
@ranjeet25 Go for it!

[2022-10-03 20:35] SauravMukherjee44 commented on #434
Go for it!

[2022-10-03 20:36] SauravMukherjee44 commented on #436
Go for it!

[2022-10-04 02:31] aditi018 commented on #323
I would like to contribute to this issue. Can you assign me this?

[2022-10-04 02:34] aditi018 commented on #224
Can you assign me this?

[2022-10-04 04:10] Pallavisingh123 commented on #232
go for it

[2022-10-04 05:20] hmmalic opened #441 "Join us button functionality not working properly."
### Description

If we click line by line all the options "join us " button takes you to a specific area by scrolling down automatically, but if you are on the contact us area and click the 'join us " button again, it does not scroll back upwards.

### Screenshots

_No response_

[2022-10-04 05:34] yasaswini999 opened #442 "Invisible Text in FAQ section on DarkTheme Plugin"
### Description

To make FAQ section text visible upon dark theme UI

### Screenshots

Light Theme
![image](https://user-images.githubusercontent.com/106906121/193741958-24dc61e8-9f02-4b22-a7f4-339acdce7d4a.png)
Dark Theme
![image](https://user-images.githubusercontent.com/106906121/193742103-cae35696-fa50-4687-9680-d000f1e04387.png)

[2022-10-04 05:49] suryanshsangwan commented on #442
Please assign this to me
I am working on this.

[2022-10-04 06:14] yasaswini999 commented on #442
hey !@suryanshsangwan . New open source dev here
could you assign me the above task I mentioned?

[2022-10-04 06:58] #442 closed

[2022-10-04 07:14] #381 closed

[2022-10-04 07:21] imyoungsparda opened #446 "FAQ section is Pink"
### Description

FAQ section doesn't matches the colour theme of the website.

### Screenshots

_No response_

[2022-10-04 07:21] suryanshsangwan commented on #436
This spacing is correct. All elements in header are using same CSS class.

[2022-10-04 07:24] ankittt20 commented on #436
Yes, by the code the spacing is correct but they should look equally spaced too for anyone who is visiting the website.

[2022-10-04 07:46] #436 closed

[2022-10-04 07:47] SauravMukherjee44 commented on #446
Go for it!

[2022-10-04 07:48] SauravMukherjee44 commented on #441
Go for it!
For support join our discord server: https://discord.com/servers/codein-community-831388874118660156

[2022-10-04 07:51] #427 closed

[2022-10-04 07:52] #423 closed

[2022-10-04 07:52] #387 closed

[2022-10-04 07:53] SauravMukherjee44 commented on #322
There is a preloader folder there in our repository, Also while reloading the website you can see the preloader.

[2022-10-04 07:54] SauravMukherjee44 commented on #322
For support join our discord server: https://discord.com/servers/codein-community-831388874118660156

[2022-10-04 07:54] #340 closed

[2022-10-04 08:15] Jyotiraditya24 opened #447 "NavBar has a lot of bugs"
### Description

1> Join us in already active showing yellow color
2> as soon we scroll down the yellow color goes away
3> we could Improve the hover effect on buttons of hacktober fest and Join Us
4> Hover effect does not work on Join us button if we scroll down the webpage

I would like to contribute , if you could assign this me issue

### Screenshots

1>
<img width="1440" alt="Screenshot 2022-

[2022-10-04 08:21] yosaami commented on #447
hey @Jyotiraditya24, I would like to work on this project. I'm new to open source so would like to keep you updated for the process.

[2022-10-04 08:39] gitatractivo opened #449 "Submit button changes color on smaller screens"
### Description

Submit button gets purple when making the screen size smaller. Also it takes full screen which looks a bit odd.

Also Yellow color on submit button does not look good.
#Hacktoberfest

### Screenshots

![image](https://user-images.githubusercontent.com/91304909/193773123-3029b2f7-aeed-4243-b397-a536988e4ad0.png)
![image](https://user-images.githubusercontent.com/91304909/193773153-

[2022-10-04 08:42] #446 closed

[2022-10-04 08:58] #437 closed

[2022-10-04 09:09] ankittt20 opened #452 "Text not properly visible"
### Description

Text here is not visible properly.

### Screenshots

![Screenshot (7)](https://user-images.githubusercontent.com/92395053/193780746-971aff03-a9c4-4d0a-9777-853bc4b952ed.png)

[2022-10-04 09:24] #297 closed

[2022-10-04 09:28] Debajyoti111 commented on #449
Hi @gitatractivo , I am interested in working on this issue! Can you please assign it to me?

[2022-10-04 09:40] gitatractivo commented on #449
Hi @Debajyoti111 I am not the maintainer. I raised the issue and want to work on the same

[2022-10-04 09:58] Bhuwan138 opened #455 "Go to project: redirect error"
### Description

Getting error when click on Go to project button

### Screenshots

![image](https://user-images.githubusercontent.com/61963538/193791064-f9911e9a-4557-4fbb-b9d5-d541e4ca9c70.png)

![image](https://user-images.githubusercontent.com/61963538/193791218-9cb90cf7-9983-442b-9359-99b75efa7524.png)

![image](https://user-images.githubusercontent.com/61963538/193791270-599ce5fa-eba3-447a-8

[2022-10-04 09:59] Bhuwan138 commented on #455
@SauravMukherjee44  Can you assign it to me

[2022-10-04 10:05] Debajyoti111 opened #456 "Contact Us section is not properly aligned"
### Description

The contact us form is not aligned in the center but instead, it's left aligned which makes it look bad.

### Screenshots

![Screenshot 2022-10-04 153215](https://user-images.githubusercontent.com/80357162/193792680-1d119b3f-aac9-45bc-909d-210086ae8d99.png)

[2022-10-04 10:05] Debajyoti111 commented on #456
Can you please assign this issue to me?

[2022-10-04 10:06] #456 closed

[2022-10-04 10:49] #455 closed

[2022-10-04 10:50] SauravMukherjee44 commented on #447
Go for it!

[2022-10-04 10:51] SauravMukherjee44 commented on #449
@gitatractivo Go for it!

[2022-10-04 10:52] SauravMukherjee44 commented on #452
Go for it!

[2022-10-04 11:11] MahidharMannuru5 opened #458 "Hh"
### Description

[2022-10-04 11:14] Priyanshu-su30 commented on #458
pls assign me this

[2022-10-04 11:35] ankittt20 opened #459 "Social handles not placed properly"
### Description

Social media handles are not placed properly and are overlapping the banner on hover.

### Screenshots

![Screenshot (9)](https://user-images.githubusercontent.com/92395053/193806553-0bc0b49e-33a7-4dfc-88cd-7b134235d0a1.png)

[2022-10-04 11:36] Priyanshu-su30 commented on #459
pls assign me this

[2022-10-04 12:18] hmmalic commented on #441
Thanks for your acknowledgment, however I am just a newbie , contributing for the very first time , i know basic html css but no javascript , I am not sure how this will be fixed ,
I would really appreciate if you could guide me how to fix it as it will help me learn a lot .
Thanks

[aries.gif]
________________________________
From: Saurav Mukherjee ***@***.***>
Sent: Tuesday, October 4, 2022 7:48

[2022-10-04 12:44] Aaroh1 commented on #386
Hey! Do I need to be assigned to contribute in the issues?

[2022-10-04 13:20] Aaroh1 commented on #459
Hey! I would like to work on this. Please assign this issue to me

[2022-10-04 13:30] Codebraker7 commented on #459
Hey! I'd like to take up this issue, please assign this to me.

[2022-10-04 14:03] Kingsman44 opened #466 "'counter' class values changes sometimes on scrolling"
### Description

On scrolling upwards and downwards, values of 8000+ community members, 45+ events, and 300+ opportunities decreased. which results in values to 0 after much scrolling.

### Screenshots

https://user-images.githubusercontent.com/58323485/193840347-8b9cf548-7ae6-4d30-b3ad-3d7045bbd675.mp4

[2022-10-04 14:57] mansi-singla-31215 opened #468 "Bottom margin absent."
### Description

In *shout out to our contributors* , bottom margin is absent between the images. It will look packed after more contributors are added.

### Screenshots

![image](https://user-images.githubusercontent.com/83231180/193852908-48d74fc7-7daf-430a-9067-e20db17221fa.png)

[2022-10-04 15:38] uday03meh commented on #468
Can someone assign this to me?

[2022-10-04 18:35] imyoungsparda opened #470 "Submit Button of Contact Us is Purple in Mobile View"
### Description

When website is opened in mobile, Submit button is purple in colour which doesn't matches with the theme of the website.

### Screenshots

![image](https://user-images.githubusercontent.com/112796825/193898352-c9505c0f-978a-4c60-9def-4b3cf91180b8.png)

[2022-10-04 18:37] #470 closed

[2022-10-04 18:43] imyoungsparda opened #472 "Hacktoberfest banner is not responsive"
### Description

Hacktoberfest banner in hacktoberfest.html is not reponsive in small screen. Only half of the banner is visible in mobile screen.

### Screenshots

![image](https://user-images.githubusercontent.com/112796825/193900398-182352a4-1d87-4a9d-86c4-e50442e73e03.png)

[2022-10-04 19:00] AdarshBajpai67 commented on #472
@imyoungsparda i would like to contribute to this , can you please assign me

[2022-10-04 19:48] AshutoshRath1612 commented on #472
I would love to contribute in this Can u assign this to me?

[2022-10-04 19:49] AshutoshRath1612 commented on #447
Hey can i work on this. I want to contribute in open source. Please assign this to me

[2022-10-04 19:57] Jyotiraditya24 commented on #441
hey hammalic just see the anchor tag used in the index.html file make the href to #joinus

or you can google how to connect different parts of webpage using anchor tag in html

[2022-10-04 20:16] Nav21000 commented on #459
Please assign to me

[2022-10-04 20:17] Nav21000 commented on #378
I would like to work on it.

[2022-10-04 21:19] deepesh16b commented on #452
please assign this to me
@SauravMukherjee44

[2022-10-04 21:26] deepesh16b commented on #422
hello @SauravMukherjee44
please assign me this

[2022-10-05 04:34] ISHPREETKAUR01DISNEY commented on #343
The sponser button is not responsive. I would like to work on this issue. Kindly assign it to me

[2022-10-05 04:36] ISHPREETKAUR01DISNEY commented on #325
I would like to work on the FAQ section to make it more dynamic. Please assign it to me.

[2022-10-05 04:39] ISHPREETKAUR01DISNEY commented on #323
I would like to work on this project. Please assign it to me.

[2022-10-05 06:45] aksharma27 opened #477 "back-to-top element when hovered rotates 360 deg and scales up."
### Description
###benifits.html
the back-to-top element when will be hovered it will rotate 360 deg and scale to 1.4 of it's original size with a transition of .5s.
Can I work on this issue to me.

### Screenshots

![1](https://user-images.githubusercontent.com/83135634/193997488-70258a86-c476-44e2-931b-6705a4dfc8f1.png)
![2](https://user-images.githubusercontent.com/83135634/193997504-dc838055-7

[2022-10-05 06:46] 17Moons commented on #378
what is the progress? I don't want to create conflicts in my PR .

[2022-10-05 06:46] aksharma27 commented on #477
I couldn't make the screenrecording but I guess you will understand the process.

[2022-10-05 07:00] SanskritiGupta05 opened #478 "Alignment issues in Footer"
### Description

The paragraph describing "The Codin community" is not responsive and not aligned properly.
I'd like to make it responsive, please assign this issue to me.

### Screenshots

![image](https://user-images.githubusercontent.com/77205923/193999616-257d4388-58a8-4f71-aa44-8643be53b922.png)

[2022-10-05 07:15] sshiwangi opened #479 "Cards not aligned in the opportunities section"
### Description

Image of 100days of code card not aligned with other cards in the opportunities section. I would like to fix this issue.

![codein](https://user-images.githubusercontent.com/77545230/194001845-8a8e3b62-98ee-4d0b-87dd-13bdbba12145.png)

### Screenshots

_No response_

[2022-10-05 07:15] sshiwangi commented on #479
@SauravMukherjee44 please assign me this issue.

[2022-10-05 07:47] AshutoshRath1612 opened #480 "Footer Social buttons issue"
### Description

The Socials in the footer is not responsive. Please assign me this issue

### Screenshots

![image](https://user-images.githubusercontent.com/83402676/194007896-4cd560f5-48f5-4b94-9526-81e72315821f.png)

[2022-10-05 07:49] #449 closed

[2022-10-05 07:50] AshutoshRath1612 opened #481 "Header Image and serach bar Issue"
### Description

The "HackOctoberFest" image in the header and the search bar is not responsive. Please assign me this task

### Screenshots

![image](https://user-images.githubusercontent.com/83402676/194008266-7b2ccc0c-844c-4f31-a64c-bbefac75d61b.png)

[2022-10-05 07:53] AshutoshRath1612 opened #482 "Cards in Testimonials are not of same size"
### Description

The Cards in the testimonials are not of same size. Please assign me this task

### Screenshots

![image](https://user-images.githubusercontent.com/83402676/194009058-ca7043cb-2a24-4406-88c2-853702b9cbe5.png)

[2022-10-05 07:59] AshutoshRath1612 opened #483 "Opportunity Section is not responsive"
### Description

The cards in opportunities sections are not responsive. Please assign me this task

### Screenshots

![image](https://user-images.githubusercontent.com/83402676/194010118-26f29ddd-17f9-469a-bbbb-82cbfa31bc7e.png)

[2022-10-05 08:03] alvarule opened #484 "Modify Home Page UI (Contact Us form & Newsletter Subscription form)"
I found that Contact Us form on the home page is not matching with the one present on Blogs page. I want to make them relatable to each other.
In addition, I also want to modify the UI of Newsletter Subscription Form and add a beautiful Pop-up after the user has successfully subscribed.

### Contact Us on Home Page:
![image](https://user-images.githubusercontent.com/69820965/194009982-10518197-252

[2022-10-05 08:17] #466 closed

[2022-10-05 08:29] Utkers-h commented on #343
some of the links in the sponser section aren't working, I would like to fix this issue. Kindly assign this task to me

[2022-10-05 08:33] #434 closed

[2022-10-05 08:38] SauravMukherjee44 commented on #478
Go for it!

[2022-10-05 08:43] Utkers-h opened #485 "join us button in the blogs section not working.."
### Description

Would like to fix this small issue. kindly assign this task to me.

### Screenshots

![Screenshot (139)](https://user-images.githubusercontent.com/102818047/194018095-04761714-11de-4698-b2b9-ed17bcf82813.png)

[2022-10-05 09:20] front-runner-sd opened #486 "Improvements needed for dark mode shadows"
### Description

1. Every other cards has yellow shadow in dark mode but only this section has white shadows and the shadow fades away while hovering
![image](https://user-images.githubusercontent.com/91823106/194025381-d014aa7a-9ea4-47d5-ba83-53bbe47cfd6e.png)

2. This section has not any shadow effect like other sections. It looks like a static faded outline.
![image](https://user-images.githubu

[2022-10-05 09:21] aditi018 commented on #323
@SauravMukherjee44 Can u please provide me your channel URL after customizing channel.

[2022-10-05 09:38] ankittt20 commented on #459
@SauravMukherjee44 can I work on this??

[2022-10-05 09:45] #452 closed

[2022-10-05 10:24] #458 closed

[2022-10-05 10:27] #459 closed

[2022-10-05 10:42] SauravMukherjee44 commented on #468
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 10:43] SauravMukherjee44 commented on #402
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 10:43] SauravMukherjee44 commented on #472
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 10:44] SauravMukherjee44 commented on #477
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 10:45] SauravMukherjee44 commented on #479
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 10:46] SauravMukherjee44 commented on #480
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 10:47] SauravMukherjee44 commented on #482
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 10:47] #483 closed

[2022-10-05 10:50] SauravMukherjee44 commented on #485
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 10:51] SauravMukherjee44 commented on #486
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 10:55] #447 closed

[2022-10-05 10:56] SauravMukherjee44 commented on #422
@roy2pushkar Still working?

[2022-10-05 11:00] #343 closed

[2022-10-05 11:00] #331 closed

[2022-10-05 11:01] SauravMukherjee44 commented on #325
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 11:03] SauravMukherjee44 commented on #323
@aditi018 Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 11:03] SauravMukherjee44 commented on #323
Channel URL: https://www.youtube.com/c/SauravMukherjee44/videos

[2022-10-05 11:05] #302 closed

[2022-10-05 11:05] #309 closed

[2022-10-05 11:06] #350 closed

[2022-10-05 11:10] Chinmay-03 opened #489 "search box on home page not working"
### Description

### I would like to make to search button work and find relevant links on the website

_Please assign it to me _
@sa

### Screenshots

![image](https://user-images.githubusercontent.com/102941004/194046815-9777987e-c869-4441-8bf5-dc3e20fd5d1d.png)

[2022-10-05 11:16] Priyanshu-su30 commented on #489
pls assign it to me

[2022-10-05 11:18] roy2pushkar commented on #422
@SauravMukherjee44  yes bhaiya becoz of Dusshera I'm little late .

[2022-10-05 11:28] sumitkr2000 opened #491 "Join Us button not working"
### Description

Hey @SauravMukherjee44 , The join us button on the top of the navbar is not working.  Can you please assign me this issue. I can fix it (Also tell where does this button supposed to take us to). Thank you!

### Screenshots

![Screenshot (354)](https://user-images.githubusercontent.com/100675296/194049898-dab518ee-b850-4571-8b6d-30be96488715.png)

[2022-10-05 11:56] shristichauhan opened #494 "Join Us button changes color upon scrolling down unlike Hacktoberfest button"
### Description

The "Join Us" button in Navbar changes color from yellow to black upon scrolling down, unlike the "Hacktoberfest 2022" button that disturbs the continuity and UI of the home page. I would like to fix that and give it a finishing touch.

### Screenshots

https://user-images.githubusercontent.com/80809899/194054726-0962973e-8c36-4466-9a77-0463d6f95243.mp4

[2022-10-05 12:14] ManashAnand opened #497 "[On selection] <I will change selection design>"
### Description

when selecting something in the site white and blue combination looks **Wierd** I will change this to black color and #f7b801 background
plz merge my file with yours

### Screenshots

_No response_

[2022-10-05 12:14] ManashAnand commented on #497
Plz merge my file with yours

[2022-10-05 12:32] ankittt20 opened #499 "Unnecessary spacing after Join Us Section on Hacktoberfest Page"
### Description

There is unnecessary spacing after Join Us Section on Hacktoberfest Page which doesn't look good.

### Screenshots

![Screenshot (14)](https://user-images.githubusercontent.com/92395053/194060531-4d072fb0-216f-4461-bcde-c56cd04cc0bd.png)

[2022-10-05 12:55] anujsinghrawat opened #502 "Some UI improvements while using the dark mode"
1. Prevent printing of the contributor's details on the console of the website.

![Screenshot 2022-10-05 181922](https://user-images.githubusercontent.com/84454648/194064657-bbdbdadf-3898-4798-8e6d-ce583ee308ad.png)

2. improvement in the contributor's section as the avatars are too close to each other and the icon size is small.
![image](https://user-images.githubusercontent.com/84454648/19406459

[2022-10-05 13:33] aditi018 commented on #323
Pull request has been created. You can check it.

[2022-10-05 17:53] ankittt20 opened #513 "Spacing between Opportunity and Blogs is not right on Blogs Page"
### Description

The spacing between Opportunity and Blogs is not right on Blogs Page, it looks odd.
![Screenshot (20)](https://user-images.githubusercontent.com/92395053/194126983-ab55a229-e45a-4a03-8d24-5a5fae89d238.png)

### Screenshots

_No response_

[2022-10-05 18:08] Priyanshu-su30 commented on #513
Assign this to me I'll try solving it

[2022-10-06 02:12] Rajnish2079 commented on #513
assign this issue to me i will try.

[2022-10-06 03:36] rtewari056 opened #515 "[FEATURE] User redirected to a new tab on clicking "Go to Project" button"
### Description

The "Go to Project" button opens the project repository on the same page. It is not a good user experience as users have to go back to the previous page again to check out other projects.

### Screenshots

https://user-images.githubusercontent.com/75976169/194208245-9ccfa48e-ac71-46c7-b369-0d97f3bed460.mp4

[2022-10-06 04:16] mornjtech commented on #485
I want to contribute to this issue

[2022-10-06 05:14] myGlitches commented on #482
Hey is this closed? Or can I work on this

[2022-10-06 05:31] myGlitches commented on #515
I can work on this , will this be counted on the Hacktober fest ?

[2022-10-06 07:59] SauravMukherjee44 commented on #489
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-06 08:00] SauravMukherjee44 commented on #491
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-06 08:02] #499 closed

[2022-10-06 08:05] SauravMukherjee44 commented on #515
@rtewari056 Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-06 08:14] Monson2002 opened #518 "iframe hovering over JOIN US button"
### Description

iframe id #ygtcflqt1qig1665040749965 hovers over 'JOIN US' button in the menu when the navbar toggles .
This can be fixed by positioning the iframe to the top-right corner of the webpage.

### Screenshots

<img width="240" alt="original website" src="https://user-images.githubusercontent.com/91113152/194258786-62227b72-c3f7-42c5-9548-3408a34cb301.png">
<img width="239" alt="modifi

[2022-10-06 08:15] #482 closed

[2022-10-06 08:15] #480 closed

[2022-10-06 08:18] #322 closed

[2022-10-06 08:25] #491 closed

[2022-10-06 08:28] #304 closed

[2022-10-06 08:38] Naresh-chandanbatve opened #521 "JOIN US button on home page is not working"
### Description

JOIN US button on the home page is expected to scroll
to the join us section but it is not working.

@SauravMukherjee44 please assign this issue to me .

and add hacktoberfest issue.
I have solved this issue.

### Screenshots

_No response_

[2022-10-06 08:48] #378 closed

[2022-10-06 08:56] #402 closed

[2022-10-06 09:02] SauravMukherjee44 commented on #518
Go for it!

[2022-10-06 09:11] Devraj5032 commented on #513
assign this to me I'll solve it

[2022-10-06 09:21] sumitkr2000 opened #522 "Footer section is buggy"
### Description

Hey @SauravMukherjee44 One of the animation in footer section is buggy. I have attached video for the same. Can you please assign me this issue to fix it. Anyway the animation doesn't look great! Thank you!

### Screenshots

[screen-capture.webm](https://user-images.githubusercontent.com/100675296/194276028-ef7500ba-7803-4ea6-94bc-2e335a3de4bd.webm)

[2022-10-06 09:59] Monson2002 commented on #518
Fixed it
[https://github.com/SauravMukherjee44/CodeIN-Community-Website/pull/523#issue-1399239959](url)

[2022-10-06 10:58] VidehiBavishi commented on #513
Assign this issue to me

[2022-10-06 11:59] lamodots opened #525 "Contact section alignment and responsive"
### Description

I do wish to request the go ahead to work on the contact section. I wish to work on the alignment for both the mobile and desktop view.

### Screenshots

![SHHOT](https://user-images.githubusercontent.com/91544048/194305923-95da054d-0760-499e-964f-2a5596fc8730.PNG)

[2022-10-06 12:32] lamodots opened #527 "Navigation bar is not totally responsive"
### Description

Navigation bar from 768 - 1199 is not responsive #hac

### Screenshots

![image](https://user-images.githubusercontent.com/91544048/194310967-42d97635-de65-4889-af60-0e0896528a6b.png)

[2022-10-06 12:46] kartikmehta8 opened #528 "fix: contributor images margin"
### Description

![problem](https://user-images.githubusercontent.com/77505989/194314989-e27c6858-c36f-4960-ba64-99575daaae2d.png)

### The contributor images in the `footer section` is having issue with margin.
#### @kartikmehta8 (me) fixed with and attached the issue with the `Pull Request` that will close this issue, if merged.

### Screenshots

_No response_

[2022-10-06 13:45] wizardigor opened #530 "fix: menu"
### Description

The directories in the menu are configured to be used only in the **index.htm** file, when in another file like **opportunity.html** the directors do not respond by not recognizing the id. It would be interesting to use **PHP** and separate the menu, so it could behave differently for each path.

### Screenshots

_No response_

[2022-10-06 13:51] AshutoshRath1612 opened #531 "Footer content misalignment"
### Description

The heading in footer is not aligned properly when seen in small screen.Please assign me this task

### Screenshots

![image](https://user-images.githubusercontent.com/83402676/194330575-a1c207d0-a562-4ab9-a7b8-4ead8b00c06e.png)

[2022-10-06 13:55] AshutoshRath1612 opened #532 "No proper spacing in footer. The form doesnot look good"
### Description

There is no horizontal spacings between the contents of the footer also the form in subscribe section is not properly aligned.Please assign me this task

### Screenshots

![image](https://user-images.githubusercontent.com/83402676/194331565-fba4ed7a-158b-4fbe-830f-6fa0caacda3d.png)

[2022-10-06 13:58] AshutoshRath1612 opened #533 "Navbar is not responsive"
### Description

Navbar is not responsive properly.It is responsive after a fixed width.It should be made fully responsive.Please assign me this task

### Screenshots

![image](https://user-images.githubusercontent.com/83402676/194332319-d9ed8a55-7eca-4c4a-8c34-ceb2c2bc95e9.png)

[2022-10-06 14:05] Priyanshu-su30 commented on #533
pls assign me this

[2022-10-06 14:06] Priyanshu-su30 commented on #527
pls assign me this

[2022-10-06 14:46] lamodots commented on #525
Please assign me this issue as well

[2022-10-06 16:20] Shivyoddha opened #535 "Size of Blog cards are not same"
### Description

The size of blog cards are not same due to different  image aspect ratio and sizes.
This makes it look odd and gives unmaintained responsiveness.
Hi @SauravMukherjee44 , Please assign this issue to me

### Screenshots

_No response_

[2022-10-06 16:36] Shivyoddha opened #537 "The search bar of Blog.html and Hacktober.html are not completely responsive"
### Description

<b>The search bars of Hacktober.html and Blog.html are not completely responsive and also move towards leftmost end on small screen.</b>
It can be made responsive and also moved to center on small screens.
Please assign me with this issue.

### Screenshots

_No response_

[2022-10-06 17:57] HoneyTyagii commented on #522
hey @sumitkr2000 you can assign this issue to me I can work on it.

[2022-10-06 18:15] HoneyTyagii commented on #535
hey @SauravMukherjee44 I would like to contribute to this issue

[2022-10-06 18:17] HoneyTyagii commented on #533
hey @SauravMukherjee44 I would like to contribute to this issue..

[2022-10-06 18:19] sumitkr2000 commented on #522
@HoneyTyagii No I will work on it as as asked it first! but they are not assigning it to me :(

[2022-10-06 18:19] HoneyTyagii commented on #527
hey @SauravMukherjee44  I would like to contribute to this issue..

[2022-10-06 18:20] HoneyTyagii commented on #513
hey @SauravMukherjee44  I would like to contribute to this issue..

[2022-10-06 18:31] Purvesh77 commented on #134
Hey @SauravMukherjee44 I want to Work on this .This is my first contribution so Can you assign this task to me ?
Thank You!

[2022-10-06 18:35] Purvesh77 commented on #247
Hey @SauravMukherjee44 this is my first contribution and I want to work on this.
Can you assign this task to me ?
Thank You !

[2022-10-06 18:36] Purvesh77 commented on #375
Hey @Jyotiraditya24  this is my first contribution and I want to work on this.
Can you assign this task to me ?
Thank You !

[2022-10-06 18:52] Purvesh77 opened #539 "Their should be a side arrow in Testimonials Section"
### Description

•Their should be a lest and right to see left and right person details if user had missed it up.

•And also the sliding duration should be changed from 300ms to at least 500ms so that user can read it better way.

Hey @suryanshsangwan @praveenscience I want to work on this task and this is my first contribution so
can you assign this to me ?

Thank You

### Screenshots

![Screensh

[2022-10-06 18:54] Purvesh77 commented on #539
@praveenscience Assign this task and label it in hactoberfest tag.
This will help me for my hactoberfest event also
Thank You !

[2022-10-07 02:44] SanskritiGupta05 commented on #531
Hi, I've already made this issue and opened a pull request for it.
You can check it out in issue#478.
Thanks.

[2022-10-07 04:04] JASKIRAT11011 commented on #537
please can u assign this issue to me

[2022-10-07 04:04] JASKIRAT11011 commented on #537
@Shivyoddha

[2022-10-07 04:06] sumitbaroniya commented on #325
Please assign me this issue

[2022-10-07 04:58] mathpaljyoti commented on #518
On hovering join us button is not changing its colour to yellow While the colour of the rest of the buttons is changing on hover.

I can fix the issue can you please assign me the task.

[2022-10-07 05:17] mathpaljyoti opened #543 "Colour of Join us button on hovering"
### Description

On hovering join us button is not changing its colour to yellow While the colour of the rest of the buttons is changing on hover.

### Screenshots

_No response_

[2022-10-07 07:53] IAmTamal commented on #543
Can you provide the screenshot of what you are saying ?
After that i can assign you the issue !

[2022-10-07 08:50] #477 closed

[2022-10-07 11:18] Ollie-beep-bop commented on #539
I have made some changes where in I have added prev and next arrows so that the user can navigate through the testimonials, can i make a pull request? @Purvesh77

[2022-10-07 11:23] Purvesh77 commented on #539
@Ollie-beep-bop No !
I was working on this issue man .

[2022-10-07 11:29] AnirudhHanda opened #546 "Join Us Button Not Working."
### Description

Join Us button of the Navbar is not heading to the Joinus section of the page.
I would like to resolve this issue.

### Screenshots

_No response_

[2022-10-07 11:37] smrkarkii opened #547 "Links open in same tab"
### Description

In the hacktoberfest 2022 page of the site (https://codeincommunity.tech/hacktoberfest2022.html), the links to the projects open in the same tab. I guess, it would be easier if it is opened in a new tab.
Please assign this to me if you think it's an issue and add hacktoberfest issue.

### Screenshots

_No response_

[2022-10-07 11:42] vikrammahto opened #548 "Footer links getting smaller on hover"
### Description

Due to below code, footer menu is not displaying properly.
[code]
Removing this code from https://codeincommunity.tech/assets/css/oppurtunity.css will solve the problem.

### Screenshots

![CodeIN-Community](https://user-images.githubusercontent.com/47027476/194544500-df92c960-b541-4625-b2da-ea33ce8026f4.png)

[2022-10-07 11:43] vikrammahto commented on #548
I would like to fix this issue.

[2022-10-07 11:43] vikrammahto commented on #546
I would like to solve this problem.

[2022-10-07 11:49] Ollie-beep-bop commented on #502
Can I make some contributions here?

[2022-10-07 13:12] Priyanshu-su30 commented on #547
pls assign me this task i will fix this

[2022-10-07 13:18] AnirudhHanda opened #549 "Changing color of Active links In Navbar."
![ug](https://user-images.githubusercontent.com/113718835/194563080-5f236ec2-14a4-4128-ba72-91d34d49d330.JPG)
### Description

Color of Active links provides a good reference to user that where he is exactly on the page, but currently only Home link is changing color according to activeMenu but other Navbar links are not changing to yellow when we scroll to that portion or click on those links.

I

[2022-10-07 13:21] Recdata commented on #532
I would like solve this issue

[2022-10-07 13:39] AnirudhHanda commented on #546
Currently I am working on this issue, find another issue..

[2022-10-07 13:51] anujsinghrawat commented on #502
@Ollie-beep-bop it is already completed, just waiting for the branch to be merged. you can choose any different issue.

[2022-10-07 13:59] 20RitikSingh commented on #521
I want to work on this.

[2022-10-07 14:00] 20RitikSingh commented on #494
I want to work on this.

[2022-10-07 14:11] 20RitikSingh opened #551 "Scroll bar is not blending in"
### Description

Scroll bar should be having rounded corners in order to merge with the theme.
I want to work on this issue.

### Screenshots

![image](https://user-images.githubusercontent.com/92461786/194573455-4e06d5b4-4803-43b5-b6c1-ea656c5ae112.png)

[2022-10-07 14:14] Khusbu853 commented on #314
I want to work on adding dark/light mode button to this website

[2022-10-07 14:16] Utkers-h opened #552 "Azdev sponser link not working"
### Description

currently link of the azdev community not working , kindly assign this small task to me..

### Screenshots

![Screenshot (141)](https://user-images.githubusercontent.com/102818047/194574817-10792456-b597-418c-a51e-8d707c559b38.png)

[2022-10-07 14:16] 20RitikSingh opened #553 "contact us section needs improvement"
### Description

I someone clicks on any contact us field by mistake it displays a warning which should only show while submitting.
I want to work on this issue.

### Screenshots

![image](https://user-images.githubusercontent.com/92461786/194574854-d42a1e2d-301a-468b-9639-a101c25165b7.png)

[2022-10-07 14:17] IAmTamal commented on #551
Go ahead

[2022-10-07 14:17] IAmTamal commented on #553
Also make sure you are not able to submit empty forms

[2022-10-07 14:22] 20RitikSingh opened #554 "strange behavior of quick links and join us in blog page"
### Description

join us and quick links section shrinks abnormally when hovered over.
I want to work on this issue.

### Screenshots

![image](https://user-images.githubusercontent.com/92461786/194576013-583d1a29-693b-4161-a108-f15447e8f649.png)

[2022-10-07 14:34] muskaanrajput14 commented on #549
please assign it to me

[2022-10-07 14:36] muskaanrajput14 commented on #543
please assign it to me

[2022-10-07 15:00] IAmTamal commented on #539
@Ollie-beep-bop @Purvesh77 You all are not technically supposed to start working until and unless you all are assigned with the work. There might be someone else with the same work + we might not want that addition.

@Ollie-beep-bop Please mention your PR number here #pr_number

[2022-10-07 15:01] IAmTamal commented on #548
Go ahead, make sure **nothing else breaks**
Make sure it's good on mobiles too

Please add SS in your PRs

[2022-10-07 15:03] IAmTamal commented on #532
![image](https://user-images.githubusercontent.com/72851613/194585233-c3b5a4be-7d4e-4294-8e37-6155dddc026e.png)
 It already looks good @AshutoshRath1612

[2022-10-07 15:04] Dayanand07 commented on #549
Hello, I would like to acknowledge you that I have expertise in this domain . I can contribute to my best in this issue. Can you please assign this task to me?

[2022-10-07 15:08] Dayanand07 commented on #553
Hello, I would like to acknowledge you that I have expertise in this domain . I can contribute to my best in this issue. Can you please assign this task to me?

[2022-10-07 15:10] Ollie-beep-bop commented on #539
@IAmTamal Extremely sorry, will not repeat the same, My pr number is #545

[2022-10-07 15:13] IAmTamal commented on #539
Have you made an issue - i have requested changes in your PR, do those.

[2022-10-07 15:14] IAmTamal commented on #539
@Purvesh77 Please do close this issue, make another one.
Sorry for all the confusions.

[2022-10-07 15:33] sumitkr2000 commented on #522
@SauravMukherjee44 Hoping to get a reply!

[2022-10-07 15:43] Purvesh77 commented on #539
Ok 👍

[2022-10-07 16:33] HoneyTyagii commented on #554
hey @SauravMukherjee44  you can assign this issue to me I can work on it.

[2022-10-07 16:34] IAmTamal commented on #554
@HoneyTyagii @20RitikSingh  Someone else is already working on this #548
Closing the issue.

[2022-10-07 16:34] #554 closed

[2022-10-07 16:35] anirudhsalaria opened #555 "Hovering properties addition"
### Description

We can add enlarge on hovering property to "My events" section. This will make the website more beautiful.
Kindly assign me this task :)

### Screenshots

_No response_

[2022-10-07 16:36] HoneyTyagii commented on #552
hey @SauravMukherjee44 @IAmTamal  you can assign this issue to me I can work on it.

[2022-10-07 16:36] IAmTamal commented on #522
Hello @sumitkr2000 , someone else is working on this at #548
If they are unable to make all changes, you can make an issue after that.

For now, closing the issue.

[2022-10-07 16:36] #522 closed

[2022-10-07 16:36] HoneyTyagii commented on #547
hey @SauravMukherjee44  @IAmTamal  you can assign this issue to me I can work on it.

[2022-10-07 16:37] IAmTamal commented on #552
**DONOT TAG US TO GET ASSIGNED.**
All the issues are assigned on a first come, first served basis.

[2022-10-07 16:49] AshutoshRath1612 commented on #532
Reduce device width and check that out

[2022-10-07 16:59] blyncnov commented on #525
Can I work on This issue ?

[2022-10-07 17:02] sumitkr2000 commented on #548
@IAmTamal bruh I created a issue for it yesterday...why didn't u assigned it to me!! 😑

[2022-10-07 17:10] sumitkr2000 opened #556 "Join us button not working"
### Description

Hey @SauravMukherjee44 , Join us button on the main page is not working. Can you please assign me this issue so that I can fix it. Thank you!

### Screenshots

![194049898-dab518ee-b850-4571-8b6d-30be96488715](https://user-images.githubusercontent.com/100675296/194612818-71725181-e825-42ac-b49e-7dbdf8a885bc.png)

[2022-10-07 17:36] 17Moons opened #558 "Benefits.html fonts reformatted"
### Description

I have reformatted the UI of the font in the benefits.html to make it use more user friendly.

### Screenshots

_No response_

[2022-10-07 17:37] #548 closed

[2022-10-07 17:39] #521 closed

[2022-10-07 17:45] #468 closed

[2022-10-07 17:45] #528 closed

[2022-10-07 17:46] #556 closed

[2022-10-07 17:46] SauravMukherjee44 commented on #556
Already has been fixed!

[2022-10-07 17:47] #546 closed

[2022-10-07 17:53] #558 closed

[2022-10-07 18:09] 17Moons opened #559 "color of sites on hovering over it"
### Description

sites like Linkedin, yt, insta  have a standard color and we should display them in their color when we hover over them

like LinkedIn should become blue when hovering over it.

### Screenshots

![Uploading image.png…]()

[2022-10-07 18:11] #478 closed

[2022-10-07 18:14] #555 closed

[2022-10-07 18:23] #549 closed

[2022-10-07 18:38] Utkers-h commented on #552
can i start working on it?

[2022-10-07 18:41] IAmTamal commented on #547
This has been solved on #542

[2022-10-07 18:41] #547 closed

[2022-10-07 18:45] SauravMukherjee44 commented on #559
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-07 18:52] SauravMukherjee44 commented on #553
@KajalBhatia24 Create a new issue for the same!

[2022-10-07 18:52] SauravMukherjee44 commented on #553
@20RitikSingh Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-07 18:53] SauravMukherjee44 commented on #537
@Shivyoddha Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-07 18:54] SauravMukherjee44 commented on #535
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-07 18:57] SauravMukherjee44 commented on #533
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-07 18:57] #531 closed

[2022-10-07 18:58] SauravMukherjee44 commented on #527
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-07 18:58] SauravMukherjee44 commented on #525
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-07 19:19] AvadhootK opened #563 "Sponsor navbar tab not working"
### Description

Hey @SauravMukherjee44 ,
The sponsor link on navigation tab on the blogs page is not working. I am working on it.
Please assign me this task.

Screenshot -

![Screenshot (666)](https://user-images.githubusercontent.com/72447002/194685971-f028dd91-9ec2-418e-ae84-325d00578634.png)

[2022-10-07 19:31] amankumarsahani opened #564 "Alignment and minor Content overflow issue"
### Description

While Checking responsiveness of the website it's been Spotted that at width 728 and below in Navbar HACKTOBERFEST text is overflowing out of box and in Footer Section Email box have alignment issue.

If you assign me this work, I will resolve these issues.

### Screenshots

![e1](https://user-images.githubusercontent.com/71867895/194639704-b8fb8bf7-c63a-4bae-b4dc-cf3406f99b70.jpg

[2022-10-07 19:37] 17Moons opened #565 "Font was being applied to whole website"
### Description

I made a PR in which the font formatting at benefits.html was being applied to whole website. The PR was reverted back. Now I have rectified it.
I am really sorry for making such a huge error

### Screenshots

_No response_

[2022-10-07 20:04] jainshubham766 commented on #494
I would like to work on it.

[2022-10-07 20:07] jainshubham766 commented on #183
If it's still open, would love to resolve it

[2022-10-07 20:58] riteshhon opened #568 "Hacktoberfest2022 Webpage Bugs"
### Description

Hey @SauravMukherjee44 ,
There are bugs header section and footer section in the Hacktoberfest2022 webpage, I have figured out the bugs and solving them right now. Please asign me this task.
Thank you!

### Screenshots

![Screenshot 2022-10-08 022648](https://user-images.githubusercontent.com/47925327/194651416-8ae21444-3441-4916-8213-5dca3b32438f.png)
![Screenshot 2022-10-08 0228

[2022-10-08 03:49] 17Moons opened #569 "color of logos at various places"
### Description

There are various instances where all logos are displayed yellow , not their worldwide known color. I would like to fix them all now.

instance 1:
![image](https://user-images.githubusercontent.com/92429890/194686652-770f3269-fb46-4125-8832-d08730a627c6.png)
discord icon color

instance 2:
![image](https://user-images.githubusercontent.com/92429890/194686679-b49e6e82-0a4c-4d5d-94f

[2022-10-08 04:40] 17Moons opened #572 "color do not change on hovering"
### Description

![image](https://user-images.githubusercontent.com/92429890/194688647-46fdf066-db6c-4299-972e-c4c799bb1810.png)
the color of icon do not change when we hover over it

### Screenshots

_No response_

[2022-10-08 04:50] IAmTamal commented on #563
From the next time, DONOT MAKE PR BEFORE GETTING ASSIGNED.

[2022-10-08 04:58] IAmTamal commented on #564
@amankumarsahani Someone is working on the whole navbar at #533  - the footer is already being fixed at some other PR made before.

[2022-10-08 04:58] #564 closed

[2022-10-08 05:00] AvadhootK commented on #563
Okay!

[2022-10-08 05:13] AvadhootK opened #573 "Color of logos on hacktoberfest2022 page"
### Description

Hey @SauravMukherjee44 ,
The color of different logos on the hacktoberfest2022 page can match the color of the social media icon it represents.
For example : youtube can be red.
The hover color can also match the icon.
I am working on this. Can you assign me this task?

### Screenshots

![Screenshot (670)](https://user-images.githubusercontent.com/72447002/194689835-8a7128dd-d542-

[2022-10-08 05:20] KajalBhatia24 opened #574 "[FEATURE] <description>Make contact us page more responsive"
### Description

We can add scroll bar in the message box .
We can bifercate the name box into two: Firstname and Lastname
We can put a check on email section : checks if there is @ symbol or not. If not present, it wont accept.

### Screenshots

_No response_

[2022-10-08 08:16] #563 closed

[2022-10-08 08:20] #572 closed

[2022-10-08 08:47] ankita-104 opened #576 "ADD A WELCOME PAGE WITH GLOWING TEXT <this will enhance the website initialisation>"
### Description

A glowing text Welcome page feature that will add on to the look of the website  on opening.

### Screenshots

![WhatsApp Image 2022-10-08 at 14 15 53](https://user-images.githubusercontent.com/99471567/194698738-b607be93-0f3b-425c-a9f4-4f9e7d9cae32.jpeg)
(There will be colour transitions...so it can't be captured in single picture.)

[2022-10-08 08:48] ankita-104 commented on #576
I would like to work on this task please assign me

[2022-10-08 09:31] riteshhon commented on #568
Hey @IAmTamal @SauravMukherjee44,
Please check the PR of #577.

Thank you!

[2022-10-08 09:42] Shivyoddha commented on #537
<hr>
Hi @IAmTamal ,
as you mentioned I have uploaded screenshots of the issue.
Here the search bars are not completely responsive.
<hr><hr>

![Screenshot 2022-10-08 150520](https://user-images.githubusercontent.com/97729353/194701075-53215eb2-5e25-48e9-94a2-e149a1dbb8b2.png)
![image](https://user-images.githubusercontent.com/97729353/194700701-5bdaddc3-47f1-4971-a767-1304ae1805ea.png)

[2022-10-08 10:57] smrkarkii opened #579 "Errors in"
### Description

I found following errors to be fixed:
1.The "View All" button of blogs section doesn't work.
2. The contact form in not working.
3. The links to the contributor's github opens in same tab.
4. There are links called Hackathons and Opensource at bottom, but no such section is present in the website.
5. UI inconsistency: In nav bar, on hovering over, the text color of Hacktoberfest 2

[2022-10-08 12:32] Gangaraj123 commented on #559
Assign this issue to me

[2022-10-08 12:40] #319 closed

[2022-10-08 14:31] aditi824 commented on #568
I want to contribute to this issue.

[2022-10-08 14:32] aditi824 commented on #553
I want to contribute to this issue.
Kindly assign me

[2022-10-08 14:32] aditi824 commented on #551
I want to contribute to this issue.
Kindly assign me

[2022-10-08 14:33] aditi824 commented on #533
I want to contribute to this issue.
Kindly assign me

[2022-10-08 14:33] aditi824 commented on #535
I want to contribute to this issue.
Kindly assign me

[2022-10-08 14:34] aditi824 commented on #525
I want to contribute to this issue.
Kindly assign me

[2022-10-08 14:36] aditi824 commented on #502
I want to contribute to this issue.
Kindly assign me

[2022-10-08 14:37] aditi824 commented on #494
I want to contribute to this issue.
Kindly assign me

[2022-10-08 14:37] aditi824 commented on #489
I want to contribute to this issue.
Kindly assign me

[2022-10-08 14:38] aditi824 commented on #485
I want to contribute to this issue.
Kindly assign me

[2022-10-08 14:38] aditi824 commented on #484
I want to contribute to this issue.
Kindly assign me

[2022-10-08 14:39] aditi824 commented on #441
I want to contribute to this issue.
Kindly assign me

[2022-10-08 14:39] anujsinghrawat commented on #502
@aditi824 I have already submitted a pr for the same ,you can contribute once the changes a merged

[2022-10-08 14:40] aditi824 commented on #386
I want to contribute to this issue.
Kindly assign me

[2022-10-08 14:40] aditi824 commented on #326
I want to contribute to this issue.
Kindly assign me

[2022-10-08 14:41] aditi824 commented on #325
I want to contribute to this issue.
Kindly assign me

[2022-10-08 14:49] sukalyanbisui commented on #134
assign this issue to me.

[2022-10-08 15:00] aditi824 commented on #502
@anujsinghrawat ok

[2022-10-08 15:01] aditi824 commented on #422
I want to contribute to this issue.
Kindly assign me

[2022-10-08 15:02] aditi824 commented on #323
I want to contribute to this issue.
Kindly assign me

[2022-10-08 15:02] aditi824 commented on #314
I want to contribute to this issue.
Kindly assign me

[2022-10-08 15:24] #484 closed

[2022-10-08 15:27] aditi824 commented on #232
I want to contribute to this issue.
Kindly assign me

[2022-10-08 15:28] aditi824 commented on #220
I want to contribute to this issue.
Kindly assign me if open

[2022-10-08 15:29] aditi824 commented on #183
I want to contribute to this issue.
Kindly assign me if open

[2022-10-08 15:34] kasib12 commented on #283
**Bug**
"Contact Us " needs to be properly aligned.
**Source of Bug**
The CSS file probably has the bug.

**Additional Details**
I would be happy to help. Please assign this issue to me.

[2022-10-08 16:28] Manazsharma commented on #559
I wish to contribute to this issue, Kindly assign me.

[2022-10-08 17:18] #568 closed

[2022-10-08 19:40] tushar54594 opened #583 "The CLICK HERE does not redirect to the correct section"
### Description

Description
I was going through the website and found a bug.

In the FAQ section, in the How to join organising Team (3rd) question, there is a line: CLICK HERE to join our Core Team, Mentor Team and Volunteer Team and Fill out the form. But when we click on the CLICK HERE, it redirects to the home page and not to the joinus section. I will fix this issue so that it redirects to t

[2022-10-08 21:35] ShalabhDevliyal commented on #518
Hey please assign me this issue

[2022-10-09 03:29] jiyanpatil07 commented on #583
Hey @tushar54594 can you assign it to me ?
Thank you.

[2022-10-09 03:55] sumitbaroniya commented on #535
Please assign me this issue

[2022-10-09 04:49] IAmTamal commented on #583
@tushar54594 Go for it !

[2022-10-09 04:50] IAmTamal commented on #576
@SauravMukherjee44 Do we need this ?

[2022-10-09 04:50] IAmTamal commented on #574
Please Add screenshots !

[2022-10-09 04:52] IAmTamal commented on #569
@17Moons go ahead !

[2022-10-09 04:52] IAmTamal commented on #573
This is already under dev.

[2022-10-09 04:52] #573 closed

[2022-10-09 05:00] nandanpytech opened #585 "Need proper alignment of input-box and submit button in footer section..."
### Description

In chrome , it just shows the gap between the input and submit button

In firefox, it shows the gap and also reduce in height of submit button.
Attached screenshot from firefox browser

### Screenshots

![Screenshot (14)](https://user-images.githubusercontent.com/87522041/194738860-e402289f-61a8-4bf3-9f37-6dd1a4306351.png)

[2022-10-09 05:31] AvadhootK opened #587 "Links opening in the same tab"
### Description

Hey @SauravMukherjee44 ,
The various links on the website are programmed to open in a new tab.
However, the links to YouTube videos in the "Events" section are opening in the same tab and have to press 'back' in order to come to the website page again. The links should open in new tabs for better user experience.
Can you assign me this task?

### Screenshots

![Screenshot (671)](h

[2022-10-09 06:01] shreyas2711 opened #589 "The "join us" button on navbar doesn't have the link to that page"
### Description

"join us" button should locate you to that page, I can add a scroll feature to locate you to that section.

### Screenshots

![Inkedoct9bug](https://user-images.githubusercontent.com/74506348/194740680-71ca9871-07cd-4a84-b3a2-131904ce4888.jpg)

[2022-10-09 06:10] #589 closed

[2022-10-09 06:12] shreyas2711 commented on #583
@tushar54594  You can open the pull request if you want I closed mine.

[2022-10-09 06:12] Abhay5855 commented on #525
I want to contribute to this issue can you assign it to me please

[2022-10-09 06:13] tushar54594 commented on #583
@shreyas2711 Thank you so much

[2022-10-09 06:14] Abhay5855 commented on #96
Hey @SauravMukherjee44  I would like to take up this issue can you assign it to me

[2022-10-09 07:16] shreyas2711 opened #591 "Color change on hover of social links in footer section of homepage missing"
### Description

I can add change color on hover on social links present in footer section present on homepage.

### Screenshots

![2022-10-09 (3)](https://user-images.githubusercontent.com/74506348/194743287-27831400-86ed-40bf-a803-84a58acddf43.png)

[2022-10-09 07:41] Monson2002 opened #592 "Margin between img_container is not consistent"
### Description

In the Hacktoberfest 2022 webpage on mobile [screen](url) the y-axis margins between the sponsor images is not consistent causing two images to 'stick together' as one.

<img width="255" alt="Original 1" src="https://user-images.githubusercontent.com/91113152/194744205-b9793f80-787f-4699-a398-9c42f8632d4d.png">

<img width="254" alt="Original 2" src="https://user-images.githubuser

[2022-10-09 10:15] Priyanshu-official commented on #592
Hi, @SauravMukherjee44 Would like to work on this can you please Assign me [HACKTOBERFEST-2022 Participant]

[2022-10-09 12:26] #515 closed

[2022-10-09 12:35] #574 closed

[2022-10-09 14:01] ruchie194 commented on #553
Hey assign this to me i'll make it more better.

[2022-10-09 16:36] AnirudhHanda opened #594 "FAQ and Contact Links still NOT changes to Yellow when active !"
### Description

The FAQ and Contact links in the Navbar still do not change their color to yellow when active that is when user goes to that portion.
I have worked on this problem and would like to solve this.

Kindly assign this issue.

### Screenshots

Attaching Screenshot for reference.
FAQ link has not changed to yellow when user refer to it.
![codin_2](https://user-images.githubusercontent.c

[2022-10-09 17:54] PriyankaSahu28 commented on #316
please assign it to me........

[2022-10-09 18:15] #552 closed

[2022-10-09 18:17] Utkers-h opened #596 "Azdev sponser link not working"
### Description

currently the sponser link of azdev community isn't working.Would like to fix this issue

### Screenshots

![Screenshot (141)](https://user-images.githubusercontent.com/102818047/194772956-f150e9b0-9654-4697-a1b0-de6cfff59e30.png)

[2022-10-09 19:37] #591 closed

[2022-10-09 19:39] #583 closed

[2022-10-09 19:42] #585 closed

[2022-10-09 19:43] #537 closed

[2022-10-09 19:44] #502 closed

[2022-10-09 19:56] SauravMukherjee44 commented on #594
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-09 20:02] SauravMukherjee44 commented on #592
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-09 20:02] SauravMukherjee44 commented on #587
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-09 20:03] SauravMukherjee44 commented on #579
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-09 20:03] #576 closed

[2022-10-09 20:13] abhishekrd opened #598 "Adding Styles to the Contact form"
### Description

- I would like to Style the Contact Form because it is looking very basic compared to other elements in the website
- Also the button should be of different color than its background. It is hiding the button
- I will style it so that it will be more user friendly
- @SauravMukherjee44 Please assign me this issue.

### Screenshots

![Screenshot 2022-10-10 013633](https://user-images

[2022-10-09 20:22] jha-om commented on #569
can u assign this issue to me?
I will change the colors to which they are known as worldwide.

[2022-10-09 20:29] jha-om commented on #598
Additionally, when I switch from light mode to dark mode the whole page goes to dark except the contact us section.
Can U plzz assign this issue to me?

[2022-10-10 03:06] Ishika-jain commented on #326
Hey @aditi824 I've completed the issue, I'm just wondering if I'm going to get hacktober completed for this

[2022-10-10 04:33] myGlitches opened #600 "Button not Centered"
### Description

The button is not centered here in normal and responsive view both.

### Screenshots

![Blog Button Not center](https://user-images.githubusercontent.com/65249625/194799347-5a8cfab6-0328-410b-94c5-4d027a28f9e5.png)

![Bigger screen blog button issue](https://user-images.githubusercontent.com/65249625/194799998-78739320-f53d-4b97-adcc-19082f13f775.png)

[2022-10-10 04:33] myGlitches commented on #600
Please assign this to me @SauravMukherjee44

[2022-10-10 04:48] Akashbag2001 opened #601 "Can add a animated wave header"
### Description

Can add an animated wave header section. using CSS parallax.

### Screenshots

<img width="960" alt="image" src="https://user-images.githubusercontent.com/78099533/194800592-172f080f-accc-419d-8120-154c56519b35.png">

[2022-10-10 06:18] devwithsubhrajit2002 commented on #587
@SauravMukherjee44 I want to contribute on this bug to remove this problem of opening the links in the same tab. Please assign me this task. I have totally ready to solve this problem.

[2022-10-10 06:54] wickedwisdom0911 opened #604 "Adding strictly equal operator (===) instead of loose equality operator (==) in Counter1.js and correcting the spelling mistake of successfully ."
### Description

In counter1.js ,  if(email.value==' ') , the check has been done using loose operator . It might not cause some issues but a good practice and use might be using triple equal to (===). Also in counter1.js the spelling of successfully is misspelled as sucessfully by mistake

### Screenshots

https://github.com/SauravMukherjee44/CodeIN-Community-Website/blob/683fc23c70075b8711fdb196

[2022-10-10 07:17] Mahak008 commented on #386
Please unassign this issue to me. @SauravMukherjee44

[2022-10-10 10:00] Sumedh-byte opened #605 "Bug in blog.html page"
### Description

The social media icons in blog.html page shall be same in terms of color and design on the index.html
I can style them and display them as same as in index.html

### Screenshots

_No response_

[2022-10-10 10:12] Sumedh-byte opened #606 "Bug in index.html page"
### Description

The bug is in footer section, where there is a text area defining **Subscribe to our Newsletter**.
The input field for mail id has no validation.
It does not check whether the mail id contain "@" ,  rather it goes on and shows the message "Successfully Subscribed".

### Screenshots

![image](https://user-images.githubusercontent.com/70339788/194843525-f6f2235a-1aad-43b5-bf77-413f0

[2022-10-10 10:13] Sumedh-byte commented on #605
@SauravMukherjee44 , Can you please assign this issue to me?

[2022-10-10 10:13] Sumedh-byte commented on #606
@SauravMukherjee44 , Can you please assign this issue to me?

[2022-10-10 10:35] coder-chahal opened #607 ""more option" button hover effect in mobile preview"
### Description

on hover box is not covering whole text.

### Screenshots

![share_8490594265067572934](https://user-images.githubusercontent.com/110322061/194847323-8003b0c1-1816-4c92-a0a4-f5b4f2343b33.jpg)

[2022-10-10 10:36] coder-chahal commented on #607
hey @SauravMukherjee44 sir, i want to work on this issue please assign this issue to me:)

[2022-10-10 10:45] Sumedh-byte opened #608 "Bug in Contact Us section."
### Description

The form in Contact Us section of index.html is displaying **[object Object]** upon filling the full form and submitting it.
Rather it shall display **Form Submitted**.
I can resolve this bug.

### Screenshots

![image](https://user-images.githubusercontent.com/70339788/194849030-2e0cfafd-2b14-44bf-ab6f-f773e56e897f.png)

[2022-10-10 10:46] Sumedh-byte commented on #608
@SauravMukherjee44 , Can you please assign this issue to me?

[2022-10-10 10:56] mr-mods-yg opened #609 "dark mode bug in index.html"
### Description

when we click the dark mode in home page.. its darks the page instead of a line..
preview:
![image](https://user-images.githubusercontent.com/62419230/194850581-e1fb6887-70e3-455e-bf4b-e8c930d58612.png)

kindly assign me to fix this bug..
i have already fixed it by seeing all the classes and functions used in jquery..

Note : make sure u dont have dark mode type of extension runni

[2022-10-10 11:00] mr-mods-yg commented on #609
i can also fix this..
![image](https://user-images.githubusercontent.com/62419230/194851620-5fcc17d3-2fea-456c-bba2-f4a43bcab159.png)
change this color to white when dark mode is applied

[2022-10-10 11:02] smrkarkii commented on #579
Thanks

[2022-10-10 12:49] ayesha-fir commented on #608
i am a newcomer to open source and looking forward to make contributions. Can somebody help me to make my first contribution

[2022-10-10 13:38] Akanksha-Sen opened #611 "[DOCS] <description>"
### Description

Edit grammar in readme

### Screenshots

![image](https://user-images.githubusercontent.com/92180778/194879339-2b566b8e-0c95-40f6-ad6d-e016401867a0.png)

[2022-10-10 13:44] Akanksha-Sen opened #612 "Documentation"
### Description

enhance grammar of the official site.

### Screenshots

_No response_

[2022-10-10 14:28] kirtiraj22 opened #613 "customizing the join us and more options button to make it even with other buttons"
### Description

The **join us** and **more options** button needs some changes!

### Screenshots

The button's hover effect should be changed from :

![Screenshot (44)](https://user-images.githubusercontent.com/83873093/194889163-125441ca-a346-47c4-9b3d-4a53810aa6a9.png)

To:
![Screenshot (43)](https://user-images.githubusercontent.com/83873093/194889208-d3d0ff35-d9b2-4f1a-bcdb-ead8bc88a0ed.png)

[2022-10-10 14:30] kirtiraj22 commented on #613
can I work on the above mentioned changes?

[2022-10-10 14:57] Pranjal2870 commented on #232
I want to contribute. Kindly assign me

[2022-10-10 16:54] gaurika05 commented on #612
I would like to contribute. Please sign.
DESCRIPTION
-Some adjustments in order of information is required.

[2022-10-10 17:02] nandanpytech opened #616 "The white background still exists in FAQ's section even after clicking on the darkmode button."
![Screenshot (16)](https://user-images.githubusercontent.com/87522041/194918317-d4e30c56-59bb-46c8-b2fe-405f48aa68db.png)

[2022-10-10 20:32] #592 closed

[2022-10-10 20:34] #609 closed

[2022-10-10 20:35] #606 closed

[2022-10-10 20:45] #612 closed

[2022-10-10 20:46] #587 closed

[2022-10-10 20:51] #579 closed

[2022-10-10 21:02] harshagrawal523 opened #620 "[DOCS] Grammatical Error in Readme file."
### Description

In the Readme File , there are grammatical errors in the description of CodeIN.

### Screenshots

_No response_

[2022-10-10 21:30] #611 closed

[2022-10-10 21:32] SauravMukherjee44 commented on #608
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-10 21:33] SauravMukherjee44 commented on #613
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-10 21:33] SauravMukherjee44 commented on #607
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-10 21:55] Naresh-chandanbatve opened #622 "There is a bug in hacktoberfest22.html page"
### Description

After clicking on home button in hacktoberfest22.html
it should redirect to home page i.e index.html page.
but it is not working as expected.

### Screenshots

_No response_

[2022-10-11 03:18] ayesha-fir commented on #608
hello @SauravMukherjee44 , @Sumedh-byte is already assigned but I got an email so I will also be working on this? please clarify me.

[2022-10-11 04:14] surbhi400 opened #624 "Adding search icon in the search bar of hactoberfest.html page."
### Description

The hactoberfest.html page lacks the search icon in its search section. I will add that search icon.

### Screenshots

This is how it looks now.
![image(1)](https://user-images.githubusercontent.com/77582783/194995313-c1e11fcf-fb7c-42da-81c6-4c3068f235b9.png)

This is how it will look after the addition of search icon.
![image(2)](https://user-images.githubusercontent.com/77582783

[2022-10-11 04:15] surbhi400 commented on #624
@SauravMukherjee44 can you please assign this issue to me under hactoberfest.

[2022-10-11 04:29] sshiwangi opened #625 "Projects overlaps in medium screen size in hacktoberfest22.html"
### Description

On medium screen size, the projects overlaps making it look bad.
I would like to fix this issue.

### Screenshots

![medium hacktoberfest html](https://user-images.githubusercontent.com/77545230/194997142-27e3b096-7a1c-4964-9064-ff4c51dbf2e7.png)

[2022-10-11 04:30] sshiwangi commented on #625
@SauravMukherjee44 please assign me this issue under hacktoberfest.

[2022-10-11 05:16] myGlitches commented on #600
@SauravMukherjee44 Hello, is this not a good first issue for me to start with ? 😅

[2022-10-11 05:19] mdzeeshan-2 commented on #608
Hii @SauravMukherjee44 Please allow me to resolve this issue

[2022-10-11 05:30] devwithsubhrajit2002 opened #626 "Development of Join us Here section"
### Description

All the links in the join us here section is opening on the same tab which makes it time-consuming to return to the home page. So therefore I want to make these links of Discord, Telegram, etc open in a new tab.
Therefore kindly assign me this task under the Hactoberfest tag. I will complete it within a day.
Thank you.

### Screenshots

![code in community improvement of join us s

[2022-10-11 05:33] devwithsubhrajit2002 commented on #626
@SauravMukherjee44 please assign me this task and add labels of Hactoberfest for I am first in the open source contribution.

[2022-10-11 06:06] PurtiMishra commented on #565
I would like to work on this issue. Please assign me this task.

[2022-10-11 08:28] Muntabakhan commented on #559
I wish to contribute to this issue too, Kindly assign me.

[2022-10-11 09:56] wickedwisdom0911 opened #629 "Adding underline on hovering over Click here anchor tags in FAQs section"
### Description

There are Click here and join now Anchor tags which look less interactive . We can add hover effects and make them more interactive.

### Screenshots

![image](https://user-images.githubusercontent.com/78411069/195059230-2f1b549a-9e06-4f68-853e-7e38753d8efe.png)

[2022-10-11 10:01] wickedwisdom0911 opened #630 "A small mistake in spelling in the FAQ section"
### Description

There is a minor mistake in spelling in the sub-section " How to join the community as a member" in the FAQ section

### Screenshots

https://github.com/SauravMukherjee44/CodeIN-Community-Website/blob/ff4ca9ce1d03090037483a0543bc4a328136fe7a/index.html

[2022-10-11 10:21] Jiya-garg9971 commented on #630
Please assign this issue to me

[2022-10-11 10:24] Jiya-garg9971 commented on #629
please assign this issue to me.

[2022-10-11 11:43] devwithsubhrajit2002 opened #632 "Google form link opening in the same Tab"
### Description

The google form links in the Join Our Team section and the Volunteer group in the footer section are opening in the same tab. Therefore after submitting the form when trying to return to the home page, the Google form shows an error as everybody knows we cannot press the back button after submitting the google form else it will show an error. So it is better for the forms to open

[2022-10-11 11:44] devwithsubhrajit2002 commented on #632
@SauravMukherjee44 please assign me this under the Hactoberfest tag.

[2022-10-11 12:25] ManishK4514 opened #633 "[FEATURE] <description>"
### Description

This Message button is looking weird with its black square border, Also there is not any Hover effect after moving cursor on that element, Can I correct this, kindly Assign this task to me.

### Screenshots

![changes](https://user-images.githubusercontent.com/108109935/195088362-4bfdf552-f340-4171-9c27-f60f52b947a7.jpg)

[2022-10-11 12:51] manasbhandari opened #634 "Design a more better contact us page"
### Description

A we move down the contact us section look way simple which can be more beautifully designed. i am a design enthusiats so can i improve it if you allow.

### Screenshots

![Uploading Screenshot 2022-10-11 at 6.18.00 PM.png…]()

[2022-10-11 15:18] kirtiraj22 commented on #613
hey @prakhar-7129 this task is already assigned to me and I am going to create a PR within 10-15mins so kindly look for other issue!😅

[2022-10-11 15:36] Anuragwagh commented on #629
I will add the hover effects to the anchor tags, if you allow me and assign this task to me.

[2022-10-11 15:49] imyoungsparda opened #636 "Search Projects in Hacktoberfest page doesn't work."
### Description

Search Projects in hacktoberfest doesn't work. Since we have only 3 projects in that page, We don't need that search projects options.
We can remove that bar. That search bar can be added once we have more than  projects.

### Screenshots

![image](https://user-images.githubusercontent.com/112796825/195139352-f941e0ba-9ed8-40ed-ba6a-a190e685927c.png)

[2022-10-11 16:15] AdityaBansal2310 commented on #630
I want to work on this issue. Please assign it to me

[2022-10-11 16:19] AdityaBansal2310 commented on #620
I want to work on this issue. Please assign this to me

[2022-10-11 16:56] sinaps07 commented on #600
I can resolve this issue. Please assign this to me @SauravMukherjee44

[2022-10-11 17:43] deepakchowdary19 commented on #616
can you assign this to me as i can make my first pr

[2022-10-11 17:44] nandanpytech commented on #616
it is already assigned to me and resolved it..

[2022-10-11 18:11] pooranjoyb opened #637 "To add a Json file to save the details of Contact Us form"
### Description

**FEATURE**

I feel it would be great if we create a simple Database to track the records of people filling the Contact Us form.
It will enhance the project as it will have a simple DB to save data.

**SOLUTION**

The above mentioned can be achieved by accessing the contents of the Contact form using JS and writing them in the JSON file (as dictionaries)

I want to work in this is

[2022-10-11 18:12] AdityaBansal2310 commented on #620
I will be making my PR for both the issues by tomorrow as i am having an exam tomorrow.

[2022-10-11 19:30] #616 closed

[2022-10-11 19:34] jayantchaudhari18 commented on #604
Can you assign Me this issue?

[2022-10-11 19:40] #613 closed

[2022-10-11 19:41] #608 closed

[2022-10-11 19:45] Nikhil562 commented on #634
hi , please assign this task to me , I can surely do it

[2022-10-11 19:47] Nikhil562 commented on #307
Hi , I can fix this , please assign it to me

[2022-10-11 20:37] Swap-nil-2003 opened #638 "Grammatical error In Hero area of Index.html"
### Description

There is a small grammatical error in the index.html file for the hero section. I would like to resolve that @SauravMukherjee44

### Screenshots

![Screenshot_20221012-020631](https://user-images.githubusercontent.com/93329536/195193454-f82a75a8-7ef2-48cd-9c6d-3a20d93cb017.jpg)

[2022-10-11 20:55] rajdeepsri commented on #638
hello, can i fix this issue? i will be glad to solve this please assign it to me

[2022-10-12 02:18] ManishK4514 opened #641 "[More Options] NOT changing to Yellow when Hover!"
### Description

The [More Options] NOT changing to Yellow when Hover, that is when the user puts their cursor on that portion.
I have worked on this problem and would like to solve this.

Kindly assign this issue.

### Screenshots

Attaching a Screenshot for reference.

![img1](https://user-images.githubusercontent.com/108109935/195233412-934d05a5-4548-4848-ab08-eb2a9943f9b5.png)

After Results.

[2022-10-12 02:29] Mr-krishn commented on #594
i will gratefull to you if you assign this task to me

[2022-10-12 02:30] Mr-krishn commented on #553
assign this task to me

[2022-10-12 06:03] IAmTamal commented on #641
Go ahead !

[2022-10-12 06:12] IAmTamal commented on #600
@myGlitches GO for it !

[2022-10-12 06:13] IAmTamal commented on #636
We'd prefer to have the button, we can implement the search functionality later on !

Thankyou for raising the issue.

[2022-10-12 06:13] #636 closed

[2022-10-12 06:16] IAmTamal commented on #632
Make sure all of the forms opens in different tabs !

[2022-10-12 06:19] imyoungsparda commented on #636
Ya, That would be much better @IAmTamal.

[2022-10-12 07:38] imyoungsparda opened #643 "Scroll Button Not Visible on Hover."
### Description

One click scroll button not properly visible on hover.

### Screenshots

![image](https://user-images.githubusercontent.com/112796825/195280036-b373e5fb-f65f-4290-9e89-94fcc9e4283d.png)

[2022-10-12 07:47] devkeyur commented on #643
can i sovle this bug ?

[2022-10-12 08:46] ShivamShakya75 commented on #641
Can you assign this issue to me? #643

[2022-10-12 08:51] ShivamShakya75 commented on #600
Can you assign this issue to me ?

[2022-10-12 08:52] ShivamShakya75 commented on #559
Can you assign this issue to me?

[2022-10-12 08:52] ShivamShakya75 commented on #551
Can you assign this issue to me?

[2022-10-12 08:53] ShivamShakya75 commented on #535
Can you assign this issue to me?

[2022-10-12 08:53] ShivamShakya75 commented on #533
Can you assign this issue to me?

[2022-10-12 08:53] ShivamShakya75 commented on #494
Can you assign this issue to me?

[2022-10-12 08:54] ShivamShakya75 commented on #489
Can you assign this issue to me?

[2022-10-12 08:57] ashdude1401 commented on #632
I want to fix the issue please assign me

[2022-10-12 08:58] ashdude1401 commented on #600
i want to fix this issue please assign me

[2022-10-12 08:58] devkeyur commented on #643
i solve both issue just assign me please.

[2022-10-12 10:24] ashdude1401 commented on #632
All the links on the website are opening in the same tab, which is a huge task to fix, So, Please assign me the work under hack October fest so, that I in resolving the issue.

[2022-10-12 10:25] ashdude1401 commented on #632
![Screenshot 2022-10-12 145546](https://user-images.githubusercontent.com/98846260/195318825-98481b4e-5e90-4660-bdd0-8aa49ac85b53.png)

[2022-10-12 10:31] ashdude1401 opened #644 ""About US" button should be placed just after the home"
### Description

The about US button should be placed just after the home, as most of the website about us button is provided at the end of the app bar, so, it will be preferable to move the "about us" button to the end of the app bar

### Screenshots

![Screenshot 2022-10-12 144515](https://user-images.githubusercontent.com/98846260/195320054-7271ea00-c61f-4bf8-ba6c-d800754f94c2.png)

[2022-10-12 10:32] ashdude1401 commented on #644
I want to fix this issue, please assign the work under hack October fest

[2022-10-12 10:38] ashdude1401 opened #645 "Unable to see the text on join us button"
### Description

Unable to see the text on the "join us" button on the Event page if I scroll down  to the end of the page, and if I move my cursor on the " join us" button, the text on the button vanishes

### Screenshots

![Screenshot 2022-10-12 143920](https://user-images.githubusercontent.com/98846260/195321538-d57fd8c4-fed4-41b1-9d0f-c5ee93704a8f.png)

[2022-10-12 10:40] ashdude1401 commented on #645
I want to fix this issue, Please assign me this  work under hackoctoberfest

[2022-10-12 13:37] thanmaisai opened #647 "Add “Made with Love” with a Heart to the Footer"
### Description

Adding  a Heart to Your Footer showing love from codin community.

### Screenshots

_No response_